<template>
  <div
    class="grid gap-4 h-full w-full"
    :style="{ gridTemplateRows: 'auto 1fr auto' }">
    <!-- Cards -->
    <div
      class="grid auto-cols-fr grid-flow-col w-full gap-x-10 justify-items-center">
      <slot name="cards" :current-step-id="currentStepId" />
    </div>

    <!-- Views -->
    <div>
      <slot name="views" :current-step-id="currentStepId" />
    </div>

    <!-- Navigation -->
    <div class="flex justify-between">
      <Button :disabled="isFirstStep" @click="prevStep" label="Anterior" />
      <Button
        :disabled="!enableNext"
        @click="nextStep"
        :label="nextLabel || 'Siguiente'" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from '@vue/reactivity'
import { watch } from 'vue'
import Button from '../shared/Button.vue'

const props = defineProps<{
  stepOrder: string[]
  currentStepId: string
  enableNext?: boolean
  nextLabel?: string
}>()

const emit = defineEmits<{
  (e: 'update:currentStepId', v: string): void
  (e: 'finish'): void
}>()

const currentStepIndex = ref<number>(0)

const nextStep = () => {
  if (isLastStep.value) return emit('finish')
  currentStepIndex.value += 1
}

const prevStep = () => !isFirstStep.value && (currentStepIndex.value -= 1)

const currentStepId = computed<string>(
  () => props.stepOrder[currentStepIndex.value]
)

const isFirstStep = computed<boolean>(() => currentStepIndex.value <= 0)
const isLastStep = computed<boolean>(
  () => currentStepIndex.value >= props.stepOrder.length - 1
)

watch(currentStepIndex, () => emit('update:currentStepId', currentStepId.value))
watch(
  () => props.currentStepId,
  (id) => (currentStepIndex.value = props.stepOrder.indexOf(id)),
  { immediate: true }
)
</script>
