<template>
  <ViewWrapper
    :step-id="stepId"
    :current-step-id="currentStepId"
    class="w-full grid gap-4 justify-items-center">
    <InputLocation v-model="appointmentStore.currentAppointment.location" />
    <InputSubservices
      v-model="appointmentStore.currentAppointment.subservice" />
    <InputProfessionals
      active-appointment
      v-model="appointmentStore.currentAppointment.professional" />
  </ViewWrapper>
</template>

<script setup lang="ts">
import ViewWrapper from '@/components/stepper/ViewWrapper.vue'
import InputLocation from '@/components/form/InputLocation.vue'
import InputSubservices from '@/components/form/InputSubservices.vue'
import InputProfessionals from '@/components/form/InputProfessionals.vue'

import { useAppointmentStore } from '@/stores/appointment'

const appointmentStore = useAppointmentStore()

const props = defineProps<{
  stepId: string
  currentStepId: string
}>()
</script>
