<template>
  <ViewWrapper
    :step-id="stepId"
    :current-step-id="currentStepId"
    class="w-full grid gap-4 justify-center">
    <div class="grid justify-center gap-4">
      <span class="block text-normal-text font-medium">Días disponibles</span>
      <Calendar
        :available-dates="availableSimpleDates"
        v-model="appointmentStore.currentAppointment.date" />
    </div>
    <div
      v-show="showHoursList"
      class="grid h-full items-start content-start gap-2"
      :style="{ gridTemplateRows: 'auto auto 1fr' }">
      <span class="block text-normal-text font-medium">{{
        hourGridTitle
      }}</span>
      <HoursListGrid
        v-if="listsOptions.length !== 0"
        :lists="listsOptions"
        v-model="hourGridSelectedSlot"
        @update="handleTimeChange" />
      <div v-if="showProfessionalsList" class="text-normal-text font-medium">
        <span class="block mb-2">Profesionales disponibles</span>
        <div
          class="border rounded-md p-2 overflow-scroll h-64 w-80 gap-2 grid items-start">
          <FilterProfessionals #default="professionals" skip-location>
            <DropdownItem
              v-for="p in professionals"
              :click-id="p.id"
              @click="handleProfessionalItemClick">
              <ProfessionalCard :professional="p" />
            </DropdownItem>
          </FilterProfessionals>
        </div>
      </div>
    </div>
  </ViewWrapper>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue'

import ViewWrapper from '@/components/stepper/ViewWrapper.vue'
import Calendar from '@/components/shared/Calendar.vue'
import HoursListGrid, {
  type ListOptions,
  type ListSlot
} from '@/components/shared/HoursListGrid.vue'
import FilterProfessionals from '@/components/appointment/FilterProfessionals.vue'
import DropdownItem from '@/components/form/dropdown/DropdownItem.vue'
import ProfessionalCard from '@/components/form/dropdown/cards/ProfessionalCard.vue'

import { compareSimpleDates, compareSimpleTimes } from '@/utils/helpers'

import { useApiStore } from '@/stores/api'
import { useAppointmentStore } from '@/stores/appointment'

const appointmentStore = useAppointmentStore()
const apiStore = useApiStore()

const props = defineProps<{
  stepId: string
  currentStepId: string
}>()

const availableDates = computed<AvailableDate[]>(() => {
  const { professional, subservice, location } =
    appointmentStore.currentAppointment

  let available: AvailableDate[] = []

  // == Get available dates from professional
  //    or from all professionals

  if (professional !== null) {
    available = professional.availableDates
  } else if (subservice !== null) {
    const allProfessionals = Array.from(apiStore.professionals?.values() || [])

    const filteredDates: AvailableDate[] = []

    for (const pr of allProfessionals)
      for (const d of pr.availableDates)
        if (d.subservice.id === subservice.id) filteredDates.push(d)

    available = filteredDates
  }

  // == Apply subservice and location filters

  const filtered: AvailableDate[] = []

  for (const d of available) {
    if (subservice !== null && d.subservice.id !== subservice.id) continue

    if (location !== null && d.location.id !== location.id) continue

    filtered.push(d)
  }

  return filtered
})

const availableSimpleDates = computed<Util.SimpleDate[]>(() =>
  availableDates.value.map((d) => d.date)
)

const showHoursList = computed<boolean>(
  () => appointmentStore.currentAppointment.date !== null
)

const showProfessionalsList = computed<boolean>(
  () =>
    showHoursList.value &&
    appointmentStore.currentAppointment.time !== null &&
    appointmentStore.currentAppointment.professional === null
)

const activeTimes = computed<AvailableDate[] | null>(() => {
  if (appointmentStore.currentAppointment.date === null) return null

  return availableDates.value.filter((d) =>
    compareSimpleDates(
      d.date,
      appointmentStore.currentAppointment.date || undefined
    )
  )
})

const listsOptions = computed<ListOptions[]>(() => {
  let lists: ListOptions[] = []

  for (const ad of activeTimes.value ?? []) {
    if (!lists.some((l) => l.id === ad.location.id))
      lists.push({ id: ad.location.id, times: [], title: ad.location.name })

    lists = lists.map((lt) => {
      if (lt.id !== ad.location.id) return lt

      const times = lt.times
      times.push(...ad.times)
      return { ...lt, times }
    })
  }

  return lists
})

const hourGridTitle = computed<string>(() => {
  if (hourGridSelectedSlot.value !== null) return 'Horario elegido'

  return listsOptions.value.length !== 0
    ? 'Horarios disponibles'
    : 'No hay horarios disponibles'
})

const hourGridSelectedSlot = ref<ListSlot | null>(
  appointmentStore.currentAppointment.time !== null
    ? {
        listId: appointmentStore.currentAppointment.location?.id || '',
        time: appointmentStore.currentAppointment.time
      }
    : null
)

const handleTimeChange = (s: ListSlot | null) => {
  const { location, date } = appointmentStore.currentAppointment

  if (s === null) return (appointmentStore.currentAppointment.time = null)

  if (location?.id !== s.listId) {
    const currentDate = date

    appointmentStore.currentAppointment.location =
      apiStore.locations?.get(s.listId) || null
    appointmentStore.currentAppointment.date = currentDate
  }

  appointmentStore.currentAppointment.time = s.time
}

const handleProfessionalItemClick = (id: string) => {
  const p = apiStore.professionals?.get(id)
  appointmentStore.currentAppointment.professional = p || null
}

watch(hourGridSelectedSlot, (s) => {
  if (s === null) {
    appointmentStore.currentAppointment.time = null
    return
  }

  appointmentStore.currentAppointment.time = s.time

  if (appointmentStore.currentAppointment.location?.id !== s?.listId)
    appointmentStore.currentAppointment.location =
      apiStore.locations?.get(s?.listId || '') || null
})

// == sync store with HourListGrid model
watch(
  () => appointmentStore.currentAppointment.time,
  (t) => {
    if (t !== null) return
    hourGridSelectedSlot.value = null
  }
)

// == when location changes, reset time and date
watch(
  () => appointmentStore.currentAppointment.location,
  (t) => {
    if (
      appointmentStore.currentAppointment.subservice === null &&
      appointmentStore.currentAppointment.professional === null
    )
      return

    if (hourGridSelectedSlot.value?.listId === t?.id) return
  }
)
</script>
