<template>
  <BaseDropdown
    :title="title"
    placeholder="Sin seleccionar"
    v-model:selected-id="selectedId">
    <template #selected>
      <span class="font-medium block w-full">{{ selectedOption?.value }}</span>
    </template>
    <template #content="{ handleItemClick: hic, search }">
      <SearchFilter
        :all-data="options"
        :keys="['value']"
        :search-string="search"
        #default="{ filtered }">
        <DropdownItem v-for="o in filtered" :click-id="o.id" @click="hic">
          {{ o.value }}
        </DropdownItem>
      </SearchFilter>
    </template>
  </BaseDropdown>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'

import BaseDropdown from '@/components/form/dropdown/BaseDropdown.vue'
import DropdownItem from '@/components/form/dropdown/DropdownItem.vue'
import SearchFilter from './dropdown/SearchFilter.vue'

import { computed } from '@vue/reactivity'

const props = withDefaults(
  defineProps<{
    options: Util.IdentifiedValue[]
    title?: string
    modelValue: string
  }>(),
  {
    title: ''
  }
)

const emit = defineEmits<{
  (e: 'update:modelValue', id: string): void
}>()

const selectedId = ref<string>(props.modelValue || '')
const selectedOption = computed<Util.IdentifiedValue | undefined>(() =>
  props.options.find((o) => o.id === selectedId.value)
)

watch(selectedId, (v) => emit('update:modelValue', v))
</script>
