<template>
  <div class="flex flex-col w-full gap-1">
    <span class="font-medium text-normal-text">{{ label }}</span>
    <div
      :class="[
        'flex border rounded-lg w-[280px] h-[44px] px-3 py-3 items-center gap-2',
        error
          ? 'border-red-error'
          : onFocus
          ? 'border-gray-title'
          : 'border-gray-card-subtitle-active'
      ]"></div>
    <span
      v-if="error"
      class="text-sm text-red-error self-end mt-0.5 font-inter"
      >{{ error }}</span
    >
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'

const props = withDefaults(
  defineProps<{
    label: string
    password?: boolean
    date?: boolean
    error?: string
    placeholder: string
    modelValue: string | Date
  }>(),
  {}
)

const value = ref<string>('')
const onFocus = ref<boolean>(false)
const showPassword = ref<boolean>(!!props.password)

const emit = defineEmits<{
  (e: 'update:modelValue', v: string | Date): void
}>()

const toggleShowPassword = () => (showPassword.value = !showPassword.value)

watch(value, (v) => {
  if (props.date) {
    const d = new Date(v)

    d.setDate(d.getDate() + 1)
    d.setHours(0, 0, 0, 0)

    return emit('update:modelValue', d)
  }

  emit('update:modelValue', v)
})
</script>

<style scoped></style>
