<template>
  <BaseDropdown
    title="Sede"
    placeholder="Sin seleccionar"
    disable-selected-preview
    :active-display="currentLocation?.name"
    v-model:selected-id="currentId">
    <template #selected>
      <span class="font-medium">{{ currentLocation?.name }}</span>
    </template>
    <template #content="{ handleItemClick: hic, search }">
      <SearchFilter
        :all-data="allLocations"
        :keys="['name']"
        :search-string="search"
        #default="{ filtered }">
        <DropdownItem v-for="l in filtered" :click-id="l.id" @click="hic">
          {{ l.name }}
        </DropdownItem>
      </SearchFilter>
    </template>
  </BaseDropdown>
</template>

<script setup lang="ts">
import { onMounted, ref, computed, watch } from 'vue'

import BaseDropdown from '@/components/form/dropdown/BaseDropdown.vue'
import DropdownItem from '@/components/form/dropdown/DropdownItem.vue'

import { useApiStore } from '@/stores/api'
import SearchFilter from './dropdown/SearchFilter.vue'

const props = defineProps<{
  modelValue: ClinicLocation | null
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', l: ClinicLocation | null): void
}>()

const apiStore = useApiStore()

const locations = ref<Util.Indexed<ClinicLocation>>()
const currentId = ref<string>(props.modelValue?.id || '')

const allLocations = computed<ClinicLocation[]>(() => {
  if (locations.value === null) return []
  return Array.from(locations.value?.values() || [])
})

const currentLocation = computed<ClinicLocation | null>(() => props.modelValue)

onMounted(() => {
  if (apiStore.locations === null) return
  locations.value = apiStore.locations
})

watch(currentId, (id) => {
  emit('update:modelValue', locations.value?.get(id) || null)
})

watch(
  () => props.modelValue,
  (v) => (currentId.value = v?.id || '')
)
</script>
