<template>
  <BaseDropdown
    title="Buscá un profesional"
    placeholder="Búsqueda"
    override-icon="fa-solid fa-magnifying-glass"
    :active-display="currentProfessional.name"
    v-model:selected-id="currentId">
    <template #selected>
      <div class="flex flex-row w-full items-center gap-2 text-gray-800">
        <img class="w-5 h-5" :src="currentProfessional.service.icon" />
        <span class="font-medium text-sm capitalize">
          {{ currentProfessional.name }}
        </span>
      </div>
    </template>
    <template #content="{ handleItemClick: hic, search }">
      <SearchFilter
        v-if="!activeAppointment"
        :all-data="allProfessionals"
        :keys="['name']"
        :search-string="search"
        #default="{ filtered }">
        <DropdownItem v-for="p in filtered" :click-id="p.id" @click="hic">
          <ProfessionalCard :professional="p" />
        </DropdownItem>
      </SearchFilter>
      <FilterProfessionals v-else #default="professionals">
        <SearchFilter
          :all-data="professionals"
          :keys="['name']"
          :search-string="search"
          #default="{ filtered }">
          <DropdownItem v-for="p in filtered" :click-id="p.id" @click="hic">
            <ProfessionalCard :professional="p" />
          </DropdownItem>
        </SearchFilter>
      </FilterProfessionals>
    </template>
  </BaseDropdown>
</template>

<script setup lang="ts">
import { onMounted, ref, computed, watch } from 'vue'

import BaseDropdown from '@/components/form/dropdown/BaseDropdown.vue'
import DropdownItem from '@/components/form/dropdown/DropdownItem.vue'
import ProfessionalCard from '@/components/form/dropdown/cards/ProfessionalCard.vue'
import SearchFilter from './dropdown/SearchFilter.vue'
import FilterProfessionals from '../appointment/FilterProfessionals.vue'

import { useApiStore } from '@/stores/api'
import { professional as fbProfessional } from '@/utils/fallback'

const props = defineProps<{
  modelValue: Professional | null
  activeAppointment?: boolean
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', p: Professional | null): void
}>()

const apiStore = useApiStore()

const professionals = ref<Util.Indexed<Professional>>()
const currentId = ref<string>(props.modelValue?.id || '')

const allProfessionals = computed<Professional[]>(() => {
  if (professionals.value === null) return []
  return Array.from(professionals.value?.values() || [])
})

const currentProfessional = computed<Professional>(
  () => professionals.value?.get(currentId.value || '') || fbProfessional
)

onMounted(async () => {
  if (apiStore.professionals === null) return
  professionals.value = apiStore.professionals
})

watch(currentId, (id) => {
  emit('update:modelValue', professionals.value?.get(id) || null)
})

watch(
  () => props.modelValue,
  (p) => (currentId.value = p?.id || '')
)
</script>
