<template>
  <BaseDropdown
    title="Especialidad"
    placeholder="Sin seleccionar"
    :active-display="currentSubservice?.name"
    v-model:selected-id="currentId">
    <template #selected>
      <div class="font-medium">
        <SubserviceCard :subservice="currentSubservice || fbSubservice" />
      </div>
    </template>
    <template #content="{ handleItemClick: hic, search }">
      <SearchFilter
        :all-data="allSubservices"
        :keys="['name', 'service.name']"
        :search-string="search"
        #default="{ filtered }">
        <DropdownItem v-for="ss in filtered" :click-id="ss.id" @click="hic">
          <SubserviceCard :subservice="ss" />
        </DropdownItem>
      </SearchFilter>
    </template>
  </BaseDropdown>
</template>

<script setup lang="ts">
import { onMounted, ref, computed, watch } from 'vue'

import BaseDropdown from '@/components/form/dropdown/BaseDropdown.vue'
import DropdownItem from '@/components/form/dropdown/DropdownItem.vue'
import SubserviceCard from '@/components/form/dropdown/cards/SubserviceCard.vue'
import SearchFilter from './dropdown/SearchFilter.vue'

import { useApiStore } from '@/stores/api'
import { subservice as fbSubservice } from '@/utils/fallback'

const props = defineProps<{
  modelValue: Subservice | null
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', ss: Subservice | null): void
}>()

const apiStore = useApiStore()

const subservices = ref<Util.Indexed<Subservice>>()
const currentId = ref<string>(props.modelValue?.id || '')

const allSubservices = computed<Subservice[]>(() => {
  if (subservices.value === null) return []
  return Array.from(subservices.value?.values() || [])
})

const currentSubservice = computed<Subservice | null>(() => props.modelValue)

onMounted(async () => {
  if (apiStore.subservices === null) return
  subservices.value = apiStore.subservices
})

watch(currentId, (id) => {
  emit('update:modelValue', subservices.value?.get(id) || null)
})

watch(
  () => props.modelValue,
  (v) => (currentId.value = v?.id || '')
)
</script>
