<template>
  <ErrorWrapper
    :active="activeError"
    :data-test="active ? 'active-card' : 'inactive-card'"
    :class="{ 'drop-shadow-md bg-white': active && !locked }"
    class="p-6 border border-gray-spacer_light rounded-lg w-full max-w-[400px] grid gap-4 transition-all"
    :style="{ gridTemplateRows: 'auto 1fr auto' }">
    <header
      :class="{
        'text-normal-text': active,
        'text-gray-300': !active,
        'text-left': reduced,
        'text-center': !reduced
      }"
      class="w-full font-bold text-xl uppercase transition-all">
      {{ title }}
    </header>
    <section class="w-full">
      <slot />
    </section>
    <button
      data-test="modify-button"
      v-show="showModifyButton"
      @click="emit('goto-step', stepId)"
      class="text-normal-text underline font-medium text-center w-full block">
      Modificar
    </button>
  </ErrorWrapper>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'

import ErrorWrapper from '@/components/shared/ErrorWrapper.vue'

const props = defineProps<{
  stepId: string
  currentStepId: string
  title: string
  locked?: boolean
  reduced?: boolean
  showModify?: boolean
}>()

const emit = defineEmits<{
  (e: 'goto-step', v: string): void
}>()

const activeError = ref<boolean>(false)

const active = computed<boolean>(
  () => props.locked || props.stepId === props.currentStepId
)

const showModifyButton = computed<boolean>(
  () => !!props.showModify && !active.value
)
</script>
