<template>
  <div class="grid w-full text-sm font-medium" data-test="field-preview">
    <span
      class="overflow-hidden whitespace-nowrap overflow-ellipsis w-full text-gray-400"
      >{{ title }}</span
    >
    <span
      class="overflow-hidden whitespace-nowrap overflow-ellipsis w-full text-normal-text"
      >{{ emptyValue ? '-' : value }}</span
    >
  </div>
</template>

<script setup lang="ts">
import { computed } from '@vue/reactivity'

const props = defineProps<{
  title: string
  value?: string
}>()

const emptyValue = computed<boolean>(
  () => typeof props.value === 'undefined' || props.value === ''
)
</script>
