<template>
  <div class="grid grid-flow-col gap-4 items-center">
    <div>
      <div
        class="border rounded-t-md py-2 px-7 flex flex-col items-center justify-center">
        <span class="text-gray-400 text-xs mb-1">{{ currentWeekDay }}</span>
        <span class="text-2xl">{{ appointment?.date?.day }}</span>
        <span class="text-sm mb-1">{{ currentMonthName }}</span>
      </div>
      <div class="border border-t-0 py-2 w-full rounded-b-md">
        <span class="block w-full text-center text-sm">{{
          formattedTime
        }}</span>
      </div>
    </div>
    <div class="grid py-1 w-full">
      <span class="text-lg">Turno {{ formattedSubservice }}</span>
      <div class="grid w-full gap-2 self-end">
        <div
          v-for="c in tableData"
          class="grid text-sm"
          :class="{
            'grid-cols-2 grid-rows-1': !reduced,
            'grid-rows-2': reduced
          }">
          <span class="text-gray-400 font-medium">{{ c.title }}</span>
          <span class="text-normal-text">{{ c.value }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { getMonthInfo, getWeekDay } from '@/utils/dates'

export interface TableRow {
  title: string
  value: string
}

const props = defineProps<{
  appointment: Appointment | Component.PartialAppointment | null
  reduced?: boolean
}>()

const currentWeekDay = computed<string>(() => {
  if (props.appointment === null || props.appointment?.date === null) return ''
  return getWeekDay(props.appointment.date).slice(0, 3)
})

const currentMonthName = computed<string>(() => {
  if (props.appointment === null || props.appointment?.date === null) return ''
  return getMonthInfo(props.appointment.date.year, props.appointment.date.month)
    .name
})

const formattedTime = computed<string>(() => {
  if (props.appointment === null || props.appointment.time === null) return ''

  const time = props.appointment.time

  const m = time.hours / 12 >= 1 ? 'pm' : 'am'

  const hour =
    time.hours === 12 && m === 'pm'
      ? '12'
      : String(time.hours % 12).padStart(2, '0')
  const minutes = String(time.minutes).padStart(2, '0')

  return `${hour}:${minutes} ${m}`
})

const formattedProfessionalName = computed<string>(() => {
  const sn = props.appointment?.professional?.name.split(' ') || ''
  return `Dr. ${sn[0]}`
})

const formattedSubservice = computed<string>(() => {
  const ss = props.appointment?.subservice?.name

  return typeof ss === 'undefined'
    ? 'sin especialidad'
    : `especialidad ${ss.toLowerCase()}`
})

const tableData = computed<TableRow[]>(() => [
  { title: 'Sede', value: props.appointment?.location?.name || '' },
  { title: 'Profesional', value: formattedProfessionalName.value },
  { title: 'Paciente', value: props.appointment?.patient?.name || '' }
])
</script>

<style scoped></style>
