<template>
  <div
    class="bg-white rounded-md py-6 px-8 flex flex-col border border-gray-spacer_light text-normal-text"
    :class="{ 'w-full max-w-[400px]': reduced }">
    <span class="mb-2">Detalles</span>
    <div
      class="grid items-center h-full justify-between"
      :style="{ gridTemplateColumns: !reduced ? '1fr auto' : 'auto' }">
      <div
        class="grid h-full text-sm gap-y-3 justify-between"
        :class="{ 'grid-cols-2': !reduced }">
        <div v-for="g in infoGroups" class="flex flex-col font-medium">
          <span class="text-gray-500">{{ g.label }}</span>
          <span>{{ g.value }}</span>
        </div>
      </div>
      <iframe
        :src="appointment?.location?.iframeLink"
        class="w-full max-h-24 m-0 p-0 border rounded-md self-end"
        :class="{ 'mt-4': reduced }"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { dateToFullString } from '@/utils/dates'
import { computed } from 'vue'

const props = defineProps<{
  appointment: Appointment | Component.PartialAppointment | null
  isConfirmed?: boolean
  reduced?: boolean
}>()

const infoGroups = computed<Util.InfoGroup[]>(() => {
  const groups = [
    {
      label: 'Servicio',
      value: props.appointment?.subservice?.service.name || 'No aplica'
    },
    {
      label: 'Especialidad',
      value: props.appointment?.subservice?.name || 'No aplica'
    },
    {
      label: 'Cobertura',
      value: props.appointment?.patient?.insurance?.name || 'Sin cobertura'
    },
    {
      label: 'Dirección de sede',
      value: props.appointment?.location?.address || 'Sin dirección'
    }
  ]

  if (props.isConfirmed)
    groups.push({
      label: 'Fecha de emisión',
      // @ts-ignore
      value: dateToFullString(props.appointment?.confirmationDate || new Date())
    })

  return groups
})
</script>

<style scoped></style>
