<template>
  <div class="w-full max-w-[400px]">
    <div
      :class="{ 'rounded-b-md': !showBottom }"
      class="relative bg-white w-full border text-normal-text border-gray-spacer_light px-4 py-6 rounded-t-md">
      <div
        data-test="service-line"
        :class="`absolute bg-service-${appointment?.subservice?.service.id}-default top-0 left-0 w-full h-2.5 rounded-t-md`" />
      <div
        v-if="showTags"
        class="grid gap-3 grid-flow-col justify-start mb-4"
        data-test="tags">
        <div
          v-if="appointment?.subservice"
          data-test="service-tag"
          :class="`bg-service-${appointment?.subservice?.service.id}-bg py-2 px-2.5 text-xs font-medium rounded-full`">
          <span
            :class="`text-service-${appointment?.subservice?.service.id}-default`"
            >{{ appointment?.subservice?.service.name }}</span
          >
        </div>
        <div class="bg-[#F0F9E9] py-2 px-2.5 text-xs font-medium rounded-full">
          <span class="text-[#00750C]"> Estado: reservado </span>
        </div>
      </div>
      <slot />
    </div>
    <div
      v-if="showBottom"
      class="bg-white border border-t-0 border-gray-spacer_light rounded-b-md"
      data-test="bottom">
      <div
        class="w-full grid grid-flow-col justify-between p-4 text-sm font-medium items-center text-normal-text">
        <button data-test="share-btn" class="ml-6 font-medium">
          Compartir
        </button>
        <button
          data-test="view-appointment-btn"
          class="border-gray-default border block py-2 px-4 rounded-md font-medium"
          @click="handleViewAppointment">
          Ver turno
        </button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router'

const router = useRouter()

const props = defineProps<{
  appointment: Appointment | Component.PartialAppointment | null
  showBottom?: boolean
  showTags?: boolean
}>()

const handleViewAppointment = () =>
  // @ts-ignore
  router.push({ name: 'Appointment', params: { id: props.appointment?.id } })
</script>
