<template>
  <button
    :class="[
      'flex items-center justify-center py-2 px-4 cursor-pointer rounded-md transition-all',
      ...buttonClasses
    ]"
    :style="`width: ${props.width ? `${props.width}px` : 'max-content'}`"
    :type="submit ? 'submit' : 'button'"
    @click="handleClick">
    <img
      v-if="type === 'back'"
      class="mr-2 w-[18px] h-[18px]"
      :src="GoBackArrowIcon" />
    <span v-if="type === 'back'" class="font-inter font-medium leading-[20px]"
      >Volver</span
    >
    <span v-else class="font-inter font-medium leading-[20px]">{{
      label
    }}</span>
  </button>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import GoBackArrowIcon from '@/assets/icons/go-back-arrow.svg'

const props = withDefaults(
  defineProps<{
    type?: 'primary' | 'secondary' | 'back'
    label?: string
    submit?: boolean
    disabled?: boolean
    width?: string
  }>(),
  {
    type: 'primary',
    disabled: false
  }
)

const emit = defineEmits<{
  (e: 'click'): void
}>()

const buttonClasses = computed<Array<string>>(() => {
  const type = {
    primary: [
      'bg-gray-title text-white hover:bg-black-default',
      `${props.disabled ? 'pointer-events-none bg-gray-border' : ''}`
    ],
    secondary: [
      'border border-gray-border text-gray-title hover:bg-gray-light'
    ],
    back: ['border border-gray-border text-gray-title hover:bg-gray-light']
  }
  return type[props.type]
})

const handleClick = () => emit('click')
</script>

<style scoped></style>
