<template>
  <div
    class="w-80 self-start flex flex-col items-center border border-spacerLight rounded-md p-4">
    <div class="flex justify-between items-center w-full mb-3 px-2">
      <span class="font-inter font-semibold text-gray-600 text-sm capitalize"
        >{{ activeMonthInfo.name }} {{ activeYear }}</span
      >
      <div class="flex flex-row items-center gap-4 text-xs">
        <button
          class="text-gray-800 opacity-80 hover:opacity-100"
          @click="changeMonth('prev')">
          <i class="fa-solid fa-chevron-left" />
        </button>
        <button
          class="text-gray-800 opacity-80 hover:opacity-100"
          @click="changeMonth('next')">
          <i class="fa-solid fa-chevron-right" />
        </button>
      </div>
    </div>
    <div class="grid grid-cols-7 justify-between">
      <div
        v-for="day in daysAbbreviation"
        class="w-10 text-center mb-2 font-semibold text-gray-600">
        {{ day }}
      </div>
      <div
        v-for="s in calendarSlots"
        :key="`${s}`"
        class="h-10 w-10 flex justify-center items-center">
        <div
          @click="handleSlotClick(s.date)"
          :class="[
            'border-gray-600 w-8 h-8 flex justify-center items-center font-medium rounded-full relative transition-all opacity-80 hover:opacity-100 cursor-pointer pointer-events-none',
            ...getClassesByStatus(s.status)
          ]">
          {{ s.date.day }}
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue'

import {
  getMonthInfo,
  WEEK_DAYS_NAMES,
  getAbbreviation,
  generateRange,
  getNextMonth,
  getPrevMonth,
  addMonth,
  subractMonth
} from '@/utils/dates'
import { simpleDateToDate, compareSimpleDates } from '@/utils/helpers'
import type { MonthInfo } from '@/utils/dates'

export type SlotStatus =
  | 'now'
  | 'current-month'
  | 'other-month'
  | 'available'
  | 'selected'
export interface DateSlot {
  date: Util.SimpleDate
  status: SlotStatus[]
}

type SimpleDate = Util.SimpleDate

const props = defineProps<{
  availableDates: SimpleDate[]
  modelValue: SimpleDate | null
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', s: SimpleDate | null): void
}>()

const dateNow: Date = new Date()

const activeYear = ref<number>(dateNow.getFullYear())
const activeMonth = ref<number>(dateNow.getMonth())

const calendarSlots = ref<DateSlot[]>([])
// const selectedDate = ref<SimpleDate>()

const daysAbbreviation: Array<string> = WEEK_DAYS_NAMES.map((wd) =>
  getAbbreviation(wd)
)

const activeMonthInfo = computed<MonthInfo>(() =>
  getMonthInfo(activeYear.value, activeMonth.value)
)

const now = computed<SimpleDate>(() => {
  const d = new Date()
  return {
    year: d.getFullYear(),
    month: d.getMonth(),
    day: d.getDate()
  }
})

const nowDateObj = computed<Date>(
  () => new Date(now.value.year, now.value.month, now.value.day)
)

const availableDatesFromNow = computed<SimpleDate[]>(() => {
  return props.availableDates.filter((d) => {
    const dObj = new Date(d.year, d.month, d.day)
    return dObj.getTime() >= nowDateObj.value.getTime()
  })
})

const handleSlotClick = (s: SimpleDate): void => {
  emit('update:modelValue', s)

  if (s.year > activeYear.value || s.month > activeMonth.value)
    return changeMonth('next')

  if (s.year < activeYear.value || s.month < activeMonth.value)
    return changeMonth('prev')
}

const changeMonth = (d: 'next' | 'prev'): void => {
  const active: SimpleDate = {
    day: 1,
    month: activeMonth.value,
    year: activeYear.value
  }

  const newDate = d === 'next' ? addMonth(active) : subractMonth(active)

  activeMonth.value = newDate.month
  activeYear.value = newDate.year
}

const getSlots = (year: number, month: number): DateSlot[] => {
  // == Make Date with args

  const activeDate: SimpleDate = {
    day: 1,
    month,
    year
  }
  const activeMonthInfo = getMonthInfo(year, month)

  // == Get first and last day of month

  const firstDay = simpleDateToDate(activeDate)

  const lastDay = new Date()
  lastDay.setDate(activeMonthInfo.daysCount)

  // == Get previous month info

  const prevMonthIndex = getPrevMonth(month)
  const prevMonth = getMonthInfo(year, prevMonthIndex)
  const prevYear = prevMonthIndex === 11 ? year - 1 : year

  const nextMonthIndex = getNextMonth(month)
  const nextYear = nextMonthIndex === 0 ? year + 1 : year

  // == Get fill days

  const beginOffset = firstDay.getDay()
  const beginFillDays = generateRange(
    prevMonth.daysCount - beginOffset + 1,
    beginOffset
  )

  /* calendar size 6x7 = 42 slots
   * days from prev month plus all days of current month = filled slots
   * filled slots - calendar size = end fill slots count */
  const endOffset = 42 - activeMonthInfo.daysCount - beginOffset
  const endFillDays = generateRange(1, endOffset)

  // == Arrange slots in array and return

  const slots: DateSlot[] = []

  for (const day of beginFillDays) {
    const date: SimpleDate = {
      year: prevYear,
      month: prevMonthIndex,
      day
    }

    slots.push({
      date,
      status: getSlotStatus(date, activeDate)
    })
  }

  for (let day = 1; day <= activeMonthInfo.daysCount; day++) {
    const date: SimpleDate = {
      year,
      month,
      day
    }

    slots.push({
      date,
      status: getSlotStatus(date, activeDate)
    })
  }

  for (const day of endFillDays) {
    const date: SimpleDate = {
      year: nextYear,
      month: nextMonthIndex,
      day
    }

    slots.push({
      date,
      status: getSlotStatus(date, activeDate)
    })
  }

  return slots
}
// == Depends on: now, availableDatesFromNow
const getSlotStatus = (
  slotDate: SimpleDate,
  activeDate: SimpleDate
): SlotStatus[] => {
  const isPrevOrNext = activeDate.month !== slotDate.month
  const isSelected = compareSimpleDates(slotDate, props.modelValue || undefined)
  const isNow = compareSimpleDates(slotDate, now.value)
  const isAvailable = availableDatesFromNow.value.some((ad) =>
    compareSimpleDates(ad, slotDate)
  )

  const statusConditions: Record<SlotStatus, boolean> = {
    'current-month': !isPrevOrNext && !isSelected,
    'other-month': isPrevOrNext && !isSelected,
    selected: isSelected,
    available: isAvailable && !isSelected,
    now: isNow
  }

  const status: SlotStatus[] = []

  for (const [s, v] of Object.entries(statusConditions))
    if (v) status.push(s as SlotStatus)

  return status
}

const getClassesByStatus = (s: SlotStatus[]): string[] => {
  const classesByStatus: Record<SlotStatus, string> = {
    'other-month': 'text-gray-default',
    now: 'border',
    available:
      'pointer-events-auto cursor-pointer text-[#002F05] bg-[#05B100] bg-opacity-20',
    'current-month': 'text-normal-text',
    selected: 'bg-opacity-100 text-white font-medium bg-[#459A33] opacity-100'
  }

  return s.map((st) => classesByStatus[st])
}

watch(
  () => ({
    year: activeYear.value,
    month: activeMonth.value,
    availableDates: props.availableDates,
    selectedDate: props.modelValue
  }),
  (t) => {
    calendarSlots.value = getSlots(t.year, t.month)
  },
  { immediate: true }
)
</script>

<style scoped>
.rotate-y {
  transform: rotateY(180deg);
}

.current-date-selector::after {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  bottom: 4px;
}
</style>
