<template>
  <div
    class="grid justify-center items-center reset-grid bg-red-300 border-red-400 border-2"
    v-if="active">
    <span data-test="active-error" class="text-red-500 w-full text-center"
      >ERROR</span
    >
  </div>
  <div v-else>
    <slot />
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  active: boolean
}>()
</script>

<style scoped>
.reset-grid {
  grid-template-columns: 1fr !important;
  grid-template-rows: 1fr !important;
}
</style>
