<template>
  <div
    class="card transition-all cursor-pointer border border-gray-spacer_light p-4 rounded-md text-normal-text flex flex-col gap-1 w-full"
    :class="{ 'selected-card': active, 'normal-card': !active }">
    <span class="font-semibold">{{ externalPatient.name }}</span>
    <div class="flex flex-col font-medium" v-for="g in infoGroups">
      <span class="text-gray-400 text-sm">{{ g.label }}</span>
      <span>{{ g.value }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from '@vue/reactivity'
import { dateToSlashString } from '@/utils/dates'

const props = defineProps<{
  externalPatient: ExternalPatient
  active?: boolean
}>()

const infoGroups = computed<Util.InfoGroup[]>(() => [
  {
    label: 'DNI',
    value: props.externalPatient.document
  },
  {
    label: 'Fecha de nacimiento',
    value: dateToSlashString(props.externalPatient.birthDate)
  }
])
</script>

<style scoped>
.card {
  opacity: 0.8;
}
.card:hover {
  opacity: 1;
}

.normal-card {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.selected-card {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  opacity: 1;
  pointer-events: none;
}
</style>
