<template>
  <div
    class="w-full max-w-[24rem] p-4 border-gray-spacer_light border rounded-md bg-white text-gray-600 in-animation"
    :class="{ 'out-animation': outAnimation, 'hidden': shouldHide }"
    :style="{ boxShadow: '0px 0.25rem 0.5rem rgba(0, 0, 0, 0.15)' }">
    <header
      class="grid items-center gap-2"
      :style="{ gridTemplateColumns: '1rem 1fr 1rem' }">
      <i 
        :class="['w-full text-center', currentIcon.icon, currentIcon.color]" />
      <span class="font-medium uppercase">{{ message.title }}</span>
      <button class="transition-all opacity-75 hover:opacity-100 text-gray-500" @click="handleClose">
        <i class="w-full text-center fa-solid fa-xmark" />
      </button>
    </header>
    <p class="text-sm mx-6 mt-2">
      <pre class="font-inter block w-full whitespace-normal text-justify">{{ message.body }}</pre>
    </p>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue'

export interface IconType {
  color: string
  icon: string
}

const props = defineProps<{
  messageId: string
  message: Component.Toast
  show?: true | false
}>()

const emit = defineEmits<{
  (e: 'close', id: string): void
}>()

const outAnimation = ref<boolean>(false)
const closeTimeout = ref<number>(-1)
const shouldHide = ref<boolean>(false)

const icons: Record<string, IconType> = {
  success: {
    color: 'text-green-700',
    icon: 'fa fa-check'
  },
  error: {
    color: 'text-red-600',
    icon: 'fa-solid fa-exclamation'
  },
  info: {
    color: 'text-blue-500',
    icon: 'fa-solid fa-info'
  }
}

const currentIcon = computed<IconType>(() => icons[props.message.type])

const handleClose = () => {
  outAnimation.value = true
  console.log('close')
  closeTimeout.value = setTimeout(() => {
    console.log('hola')
    emit('close', props.messageId)
    shouldHide.value = true
  }, 250)
}

watch(() => props.show, (v) => !v ? handleClose() : null)
</script>

<style scoped>
.in-animation {
  animation-duration: 250ms;
  animation-name: fade-in;
  animation-fill-mode: backwards;
}

.out-animation {
  animation-duration: 250ms;
  animation-name: fade-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
    transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    transform: translateY(50%);
  }
}
</style>
