<template>
  <div
    class="w-24 h-10 transition-all rounded-md flex items-center justify-center border-2"
    :class="slotClass"
    @click="handleClick">
    <span class="font-semibold">{{ formattedTime }}</span>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{
  slot: Slot.Time
}>()

const styles = {
  available: 'border-green-default text-green-default cursor-pointer',
  selected: 'border-green-default text-white bg-green-default',
  unavailable: 'border-gray-reserved text-gray-reserved'
}

const slotClass = computed<string>(() => styles[props.slot.status])

const emit = defineEmits<{
  (e: 'click', s: Slot.Time): void
}>()

const formattedTime = computed<string>(() => {
  const h = String(props.slot.time.hours).padStart(2, '0')
  const m = String(props.slot.time.minutes).padStart(2, '0')
  return `${h}:${m}`
})

const handleClick = () => {
  if (props.slot.status !== 'available') return
  emit('click', props.slot)
}
</script>

<style scoped></style>
