<template>
  <div class="flex">
    <button :class="{ hidden: showLeftArrow }" @click="scroll(-1)">
      <i class="fa-solid fa-left-arrow" />
    </button>
    <div ref="scroller" class="w-full flex overflow-scroll scrollbar-style">
      <div ref="start" class="pointer-events-none h-full" />
      <div v-if="modelValue === null" class="flex flex-cols gap-6">
        <HoursList
          v-for="l in lists"
          :slots="getListSlots(l.times, l.id)"
          :title="l.title"
          @update="(t) => handleUpdate(t, l.id)" />
      </div>
      <div class="w-full" v-else>
        <HourDisplay :slot="{ time: modelValue.time, status: 'selected' }" />
      </div>
      <div ref="end" class="pointer-events-none h-full" />
    </div>
    <button :class="{ hidden: showRightArrow }" @click="scroll(1)">
      <i class="fa-solid fa-right-arrow" />
    </button>
  </div>
</template>

<script setup lang="ts">
import HoursList from './HoursList.vue'
import HourDisplay from './HourDisplay.vue'
import { computed, onMounted, ref, watch } from 'vue'
import { compareSimpleTimes } from '@/utils/helpers'

export interface ListOptions {
  id: string
  title?: string
  times: Util.SimpleTime[]
}

export interface ListSlot {
  listId: string
  time: Util.SimpleTime
}

type SimpleTime = Util.SimpleTime

const props = defineProps<{
  lists: ListOptions[]
  modelValue: ListSlot | null
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', t: ListSlot | null): void
}>()

const showLeftArrow = ref<boolean>(false)
const showRightArrow = ref<boolean>(true)
const start = ref<Element>()
const end = ref<Element>()
const scroller = ref<Element>()

const selectedSlot = ref<ListSlot | null>(props.modelValue)

const allHours = computed<SimpleTime[]>(() => {
  const times: SimpleTime[] = []

  // == if time is not on array, push it

  for (const thl of props.lists)
    for (const lt of thl.times)
      if (!times.some((t) => compareSimpleTimes(t, lt))) times.push(lt)

  // == sort times

  return times.sort((a, b) => (a.hours >= b.hours ? a.minutes - b.minutes : -1))
})

const getListSlots = (availableTimes: SimpleTime[], listId: string) => {
  const slots: Slot.Time[] = []

  for (const time of allHours.value) {
    const status = availableTimes.some((at) => compareSimpleTimes(at, time))
      ? 'available'
      : 'unavailable'

    slots.push({
      time,
      status:
        compareSimpleTimes(time, selectedSlot.value?.time) &&
        selectedSlot.value?.listId === listId
          ? 'selected'
          : status
    })
  }

  return slots
}

const handleUpdate = (time: SimpleTime, listId: string) => {
  selectedSlot.value = { time, listId }
  emit('update:modelValue', selectedSlot.value)
}

watch(
  () => props.modelValue,
  (v) => (selectedSlot.value = v)
)

const scroll = (val: any): void => {
  scroller.value?.scroll({
    left: scroller.value.scrollLeft + 140 * val,
    behavior: 'smooth'
  })
}

onMounted(() => {
  const startObserver = new IntersectionObserver((entries) => {
    entries[0].isIntersecting
      ? (showLeftArrow.value = false)
      : (showLeftArrow.value = true)
  })

  startObserver.observe(start.value as Element)

  const endObserver = new IntersectionObserver((entries) => {
    entries[0].isIntersecting
      ? (showRightArrow.value = false)
      : (showRightArrow.value = true)
  })

  endObserver.observe(end.value as Element)
})
</script>

<style scoped>
.scrollbar-style::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: transparent;
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 20px;
}
</style>
