<template>
  <div>
    <span class="block mb-4 text-sm text-normal-text font-medium">{{
      title
    }}</span>
    <div class="flex flex-col gap-4">
      <HourDisplay
        v-for="t in slots"
        :key="`${t}`"
        :slot="t"
        @click="handleClick(t.time)" />
    </div>
  </div>
</template>

<script setup lang="ts">
import HourDisplay from './HourDisplay.vue'

const props = defineProps<{
  slots: Slot.Time[]
  title?: string
}>()

const emit = defineEmits<{
  (e: 'update', s: Util.SimpleTime): void
}>()

const handleClick = (s: Util.SimpleTime) => {
  emit('update', s)
}
</script>

<style scoped></style>
