<template>
  <div
    :class="`
      flex items-center py-1 px-2 rounded-full
      bg-service-${service.id}-bg
      max-w-[7rem]
      h-7
      overflow-hidden whitespace-nowrap overflow-ellipsis
      ell
    `">
    <span
      :class="`
        w-full
        text-xs font-medium 
        overflow-hidden whitespace-nowrap overflow-ellipsis
        text-service-${service.id}-default
      `"
      >{{ service.name }}</span
    >
  </div>
</template>

<script setup lang="ts">
import type { Service } from '@/utils/types'

const props = defineProps<{
  service: Service
}>()
</script>

<style scoped></style>
