<template>
  <div class="fixed bottom-24 left-4 grid gap-4 items-start">
    <FloatingMessage
      v-for="i in messageItems"
      :message-id="i.id"
      :message="i.message"
      :show="i.show"
      @close="handleClose" />
  </div>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue'
import { nanoid } from 'nanoid'
import FloatingMessage from './FloatingMessage.vue'
import { useToastStore } from '@/stores/toast'

export interface MessageItem {
  id: string
  show: boolean
  message: Component.Toast
}

const toastStore = useToastStore()

const indexedMessages = ref<Record<string, MessageItem>>({})
const stayTimeouts = ref<Record<string, number>>({})

const messageItems = computed<MessageItem[]>(() =>
  Object.values(indexedMessages.value)
)

const handleClose = (id: string) => {
  if (typeof indexedMessages.value[id] === 'undefined') return
  indexedMessages.value[id].show = false
}

const DEFAULT_STAY_TIME = 3 //-> in seconds

watch(
  () => toastStore.showId,
  () => {
    const newStack = toastStore.popAllStack()
    let msgs: Record<string, MessageItem> = {}

    newStack.forEach((message) => {
      const id = nanoid(5)
      msgs[id] = {
        id,
        show: true,
        message
      }

      stayTimeouts.value[id] = setTimeout(
        () => handleClose(id),
        (message.time || DEFAULT_STAY_TIME) * 1000
      )
    })

    indexedMessages.value = msgs
  },
  { deep: true }
)
</script>
