<template>
  <header
    :class="`
    flex flex-col md:flex-row
    items-start justify-center gap-4 md:justify-between md:items-center
    bg-white px-9 h-36 2xl:px-20 md:h-40`">
    <span class="font-bold text-2xl text-normal-text uppercase">{{
      title
    }}</span>
    <Button v-if="showButton" :label="buttonLabel" @click="buttonHandler" />
  </header>
</template>

<script setup lang="ts">
import { computed } from 'vue'

import Button from './Button.vue'

const props = defineProps<{
  title: string
  buttonLabel?: string
  buttonHandler?: () => void
}>()

const showButton = computed<boolean>(
  () =>
    typeof props.buttonLabel !== 'undefined' &&
    typeof props.buttonHandler !== 'undefined'
)
</script>
