<template>
  <div class="grid grid-cols-4 gap-x-6 gap-y-2 h-full justify-between">
    <div
      v-for="f in fields"
      class="grid w-full text-sm font-medium"
      data-test="field-preview">
      <span
        class="overflow-hidden whitespace-nowrap overflow-ellipsis w-full text-gray-400"
        >{{ f.label }}</span
      >
      <span
        class="overflow-hidden whitespace-nowrap overflow-ellipsis w-full text-normal-text"
        >{{ f.value === '' ? '-' : f.value }}</span
      >
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  fields: Util.InfoGroup[]
}>()
</script>
