<template>
  <div
    :class="`
    grid
    gap-4 justify-items-center
    items-center w-full`"
    :style="{ gridTemplateColumns: reduced ? '1fr auto' : 'auto' }">
    <GeneralDropdown :options="options" v-model="selectedId" />
    <button
      @click="handleAdd"
      :class="`
      grid items-center justify-center
      w-8 h-8
      cursor-pointer bg-gray-200 rounded-full`">
      <i class="fa-solid fa-plus text-xl text-normal-text" />
    </button>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import GeneralDropdown from '@/components/form/GeneralDropdown.vue'

const props = defineProps<{
  options: Util.IdentifiedValue[]
  modelValue: string
  reduced?: boolean
}>()

const selectedId = ref<string>(props.modelValue || '')

const emit = defineEmits<{
  (e: 'update:modelValue', v: string): void
  (e: 'add'): void
}>()

const handleAdd = () => emit('add')

watch(selectedId, (id) => emit('update:modelValue', id))
</script>
