<template>
  <ErrorWrapper
    :active="activeError"
    class="grid justify-center items-center h-full content-center gap-5 text-center">
    <span
      data-test="timer-clock"
      class="text-normal-text text-5xl font-bold block"
      >{{ formattedClock }}</span
    >
    <p class="text-base text-normal-text font-medium" data-test="timer-message">
      Usted tiene {{ message.initial }} {{ message.type }} para confirmar los
      datos
    </p>
  </ErrorWrapper>
</template>

<script setup lang="ts">
import { reactive, computed, onMounted, onBeforeUnmount, ref } from 'vue'
import ErrorWrapper from '@/components/shared/ErrorWrapper.vue'

const props = defineProps<{
  seconds: number
}>()

const emit = defineEmits<{
  (e: 'finish'): void
}>()

const remaining = reactive({
  minutes: 0,
  seconds: 0,
  interval: -1
})

const formattedClock = computed<string>(() => {
  const minutes = String(remaining.minutes).padStart(2, '0')
  const seconds = String(remaining.seconds).padStart(2, '0')

  return `${minutes}:${seconds}`
})

const message = reactive({
  initial: 0,
  type: 'minutos'
})

const activeError = ref<boolean>(false)

const getMinutes = (s: number) => Math.floor(s / 60)

const handleInterval = () => {
  if (remaining.seconds === 0) {
    if (remaining.minutes === 0) {
      clearInterval(remaining.interval)
      return emit('finish')
    }

    remaining.minutes -= 1
    remaining.seconds = 59
    return
  }

  remaining.seconds -= 1
}

onMounted(() => {
  if (props.seconds < 0) return (activeError.value = true)

  remaining.minutes = getMinutes(props.seconds)
  remaining.seconds = props.seconds % 60
  remaining.interval = setInterval(handleInterval, 1000)

  if (remaining.minutes >= 1) {
    message.initial = remaining.minutes
    message.type = remaining.minutes === 1 ? 'minuto' : 'minutos'
  } else {
    message.initial = remaining.seconds
    message.type = remaining.seconds === 1 ? 'segundo' : 'segundos'
  }

  if (props.seconds === 0) handleInterval()
})

onBeforeUnmount(() => clearInterval(remaining.interval))
</script>
