<template>
  <slot v-bind="professionals" />
</template>

<script setup lang="ts">
import { computed } from 'vue'

import { compareSimpleDates, compareSimpleTimes } from '@/utils/helpers'
import { useApiStore } from '@/stores/api'
import { useAppointmentStore } from '@/stores/appointment'

const apiStore = useApiStore()
const appointmentStore = useAppointmentStore()

const props = defineProps<{
  skipSubservice?: boolean
  skipDate?: boolean
  skipTime?: boolean
  skipLocation?: boolean
}>()

const professionals = computed<Professional[]>(() => {
  let filtered: Professional[] = Array.from(
    apiStore.professionals?.values() || []
  )

  // == Filter by subservice

  if (!props.skipSubservice) {
    const ss = appointmentStore.currentAppointment.subservice
    if (ss !== null) {
      let temp = []
      for (const p of filtered)
        if (p.subservices.some((s) => s.id === ss.id)) temp.push(p)
      filtered = temp
    }
  }

  // == Filter by date and time

  if (!props.skipDate) {
    const date = appointmentStore.currentAppointment.date
    const time = appointmentStore.currentAppointment.time

    if (date !== null) {
      let temp = []
      for (const p of filtered)
        if (
          p.availableDates.some((ad) => {
            if (props.skipTime) return true

            const comp = compareSimpleDates(ad.date, date)
            if (time === null || !comp) return comp

            // == Filter by time
            return ad.times.some((t) => compareSimpleTimes(t, time))
          })
        )
          temp.push(p)
      filtered = temp
    }
  }

  // == Filter by location

  if (!props.skipLocation) {
    const l = appointmentStore.currentAppointment.location
    if (l !== null) {
      let temp = []
      for (const p of filtered)
        if (p.locations.some((lo) => lo.id === l.id)) temp.push(p)
      filtered = temp
    }
  }

  return filtered
})
</script>
