<template>
  <div class="grid relative w-full max-w-[18rem]">
    <span class="mb-2 text-gray-600 font-medium" v-if="title !== ''">{{
      title
    }}</span>
    <div
      class="w-full p-3 transition-all text-sm rounded-md border border-gray-spacer-light bg-white main-focus"
      :class="{ 'rounded-b-none': showDropdown }">
      <div
        class="w-full grid items-center gap-3"
        :style="{
          gridTemplateColumns: isSomethingSelected
            ? '1fr auto auto'
            : '1fr auto'
        }">
        <div class="w-full">
          <input
            v-show="!isSomethingSelected"
            ref="inputElement"
            type="text"
            class="h-full w-full placeholder-shown:font-normal font-semibold text-gray-600 focus:outline-none font-inter bg-white"
            :placeholder="placeholder"
            v-model="searchTerms"
            @focus="openDropdown"
            @blur="handleInputBlur" />
          <div
            class="w-full cursor-pointer transition-all"
            :class="{
              'opacity-100 hover:opacity-100': showDropdown,
              'opacity-75 hover:opacity-90': !showDropdown
            }"
            @click="toggleDropdown"
            v-show="isSomethingSelected">
            <slot name="selected" />
          </div>
        </div>
        <button
          v-show="isSomethingSelected"
          @click="resetSelected"
          class="opacity-80 hover:opacity-100 transition-all grid items-center justify-center cursor-pointer text-normal-text bg-gray-100 w-5 h-5 rounded-full">
          <i class="fa-solid fa-xmark text-xs" />
        </button>
        <button
          @click="toggleDropdown"
          class="flex items-center text-right cursor-pointer w-5 h-5 place-content-center">
          <i
            class="transition-all"
            :class="{
              'fa-solid fa-caret-down': !overrideIcon,
              [overrideIcon || '']: overrideIcon,
              'opacity-100 hover:opacity-100': showDropdown,
              'opacity-50 hover:opacity-75': !showDropdown,
              'rotate-180': showDropdown && !overrideIcon,
              'rotate-0': !showDropdown && !overrideIcon
            }" />
        </button>
      </div>
    </div>
    <div
      v-show="showDropdown"
      class="absolute z-30 w-full max-h-48 top-full left-0 overflow-y-scroll overflow-hidden scrollbar-style flex flex-col gap-2 py-2 bg-white p-2 border border-gray-spacer_light border-t-0 rounded-b-md">
      <slot name="content" v-bind="{ handleItemClick, search: searchTerms }" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, onUnmounted, ref, watch } from 'vue'
import { computed } from '@vue/reactivity'

const props = defineProps<{
  title: string
  overrideIcon?: string
  selectedId?: string
  placeholder?: string
  searchTerms?: string
}>()

const emit = defineEmits<{
  (e: 'update:search', v: string): void
  (e: 'update:selectedId', id: string): void
}>()

const isOpen = ref<boolean>(false)
const waitingEvent = ref<boolean>(false)
const waitingTimeout = ref<number>(-1)
const searchTerms = ref<string>('')
const selectedId = ref<string>(props.selectedId || '')
const inputElement = ref<HTMLElement>()

const isSomethingSelected = computed<boolean>(() => selectedId.value !== '')
const showDropdown = computed<boolean>(() => isOpen.value || waitingEvent.value)

const toggleDropdown = () => (isOpen.value = !isOpen.value)

const handleEscapeKey = (e: KeyboardEvent) => {
  if (e.code === 'Escape' && isOpen.value) {
    closeDropdown()
    inputElement.value?.blur()
  }
}

const handleItemClick = (id: string) => {
  selectedId.value = id
  closeDropdown()
}

const resetSelected = () => {
  selectedId.value = ''
  inputElement.value?.blur()
}

const openDropdown = () => {
  isOpen.value = true
}

const handleInputBlur = () => {
  waitingEvent.value = true
  waitingTimeout.value = setTimeout(closeDropdown, 200)
}

const closeDropdown = () => {
  clearTimeout(waitingTimeout.value)
  waitingEvent.value = false
  isOpen.value = false
}

onMounted(() => {
  document.addEventListener('keydown', handleEscapeKey)
})

onUnmounted(() => {
  document.removeEventListener('keydown', handleEscapeKey)
})

watch(searchTerms, () => emit('update:search', searchTerms.value))
watch(
  () => props.selectedId,
  (id) => (selectedId.value = id || '')
)
watch(selectedId, (id) => emit('update:selectedId', id))
</script>

<style scoped>
.main-focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.main-focus:focus-within {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
</style>
