<template>
  <div
    class="cursor-pointer z-10 border rounded-md border-gray-200 p-2 bg-white transition-all dropdown-item"
    @click="handleClick">
    <slot />
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  clickId: string
}>()

const emit = defineEmits<{
  (e: 'click', id: string): void
}>()

const handleClick = () => emit('click', props.clickId)
</script>

<style scoped>
.dropdown-item {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.dropdown-item:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
</style>
