<template>
  <slot v-bind="{ filtered }" />
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import Fuse from 'fuse.js'

import { normalizeStr } from '@/utils/helpers'

const props = defineProps<{
  searchString: string
  allData: any[]
  keys: string[]
}>()

const filtered = ref<any[]>()

const normalizeField = (obj: any, chain: string): any | null => {
  const keys = chain.split('.')

  const compileObj = (o: any, k: string[]): any => {
    let key = k.shift()

    if (typeof key === 'undefined')
      return typeof o === 'string' ? normalizeStr(o) : o

    return {
      ...o,
      [key]: compileObj(o[key], k)
    }
  }

  return compileObj(obj, keys)
}

const applyFilter = (data: any[], keys: string[], search: string) => {
  if (search === '') return data

  const fuse = new Fuse(data, {
    useExtendedSearch: true,
    includeScore: true,
    keys,
    ignoreLocation: true,

    getFn: (obj: any, path) => {
      let normalizedObj = obj

      for (const k in keys) normalizedObj = normalizeField(normalizedObj, k)

      return Fuse.config.getFn(normalizedObj, path)
    }
  })

  const searchResults = fuse.search({
    $or: keys.map((k) => ({ [k]: normalizeStr(search) }))
  })

  return searchResults
    .map((f) => ((f.score || 0) <= 0.75 ? f.item : null))
    .filter((f) => f !== null)
}

watch(
  () => [props.searchString, props.allData],
  () => {
    filtered.value = applyFilter(props.allData, props.keys, props.searchString)
  },
  { immediate: true }
)
</script>
