<template>
  <footer
    class="flex gap-5 z-10 items-center h-20 px-4 lg:px-20 border-t border-gray-spacer_light">
    <img class="w-20 z-10" :src="FooterLogo" />
    <div class="flex flex-col z-10">
      <span class="text-xs text-normal-text">©2022 Artro</span>
      <span class="text-xs text-normal-text"
        >Medicina para que te sigas moviendo.</span
      >
    </div>
  </footer>
</template>

<script setup lang="ts">
import FooterLogo from '@/assets/icons/logo-footer.svg'
</script>

<style scoped></style>
