<template>
  <div
    :class="`
    relative
    flex items-center
    h-16 px-4 z-20 lg:px-16
  border-gray-spacer_light lg:border-b`">
    <!-- Logo -->

    <router-link :to="{ name: 'Home' }">
      <img
        :class="`
        absolute
        top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
        h-6`"
        @click="hideMenu"
        :src="ArtroLogo" />
    </router-link>

    <div
      :class="`
      grid
      w-full h-full`">
      <!-- Desktop header -->

      <div
        :class="`
        hidden lg:flex
        justify-self-end
        items-center justify-end
        text-normal-text
        gap-6`">
        <a
          v-if="!isUserLogged"
          href="https://www.artro.com.ar"
          :class="`
          flex h-full
          items-center gap-2
          transition-all opacity-80 hover:opacity-100
          cursor-pointer`">
          <i class="fa-solid fa-chevron-left" />
          <span>Volver a la web</span>
        </a>

        <router-link
          :to="{ name: 'Help' }"
          :class="`
          flex
          items-center justify-center
          transition-all opacity-80 hover:opacity-100`">
          <span>Ayuda</span>
        </router-link>

        <Menu v-if="isUserLogged" :user="userStore.user || fbUser" />
      </div>

      <!-- Mobile header -->

      <div
        :class="`
        flex lg:hidden
        items-center
        `">
        <button
          class="text-xl text-normal-text opacity-80 hover:opacity-100 transition-all"
          @click="toggleMenu">
          <i v-if="!isMenuOpen" class="fa-solid fa-bars" />
          <i v-else="!isMenuOpen" class="fa-solid fa-xmark" />
        </button>

        <div
          v-if="isMenuOpen"
          class="bg-black-default w-screen h-screen opacity-80 fixed left-0 top-16"
          @click="hideMenu" />

        <div
          v-if="isMenuOpen"
          class="absolute text-normal-text bg-white top-full left-0 w-64 rounded-br-md shadow-md border border-l-0 border-t-0 overflow-hidden">
          <div
            :class="`
            flex gap-4
            text-left
            w-full p-6`">
            <img class="w-6 h-6 object-cover" :src="userPicture" alt="" />
            <span class="font-medium">{{ userName }}</span>
          </div>
          <button
            v-for="i in menuItems"
            :class="`
            text-left
            w-full p-6
            transition-all bg-white hover:bg-normal-text hover:text-white
            border-t border-gray-spacer_light`"
            @click="mic(i.handler)">
            <span>{{ i.label }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'
import Menu from './Menu.vue'

import ArtroLogo from '@/assets/icons/header-logo.svg'

import { usePublicUserStore } from '@/stores/publicUser'
import { user as fbUser } from '@/utils/fallback'
import { useRouter } from 'vue-router'

const userStore = usePublicUserStore()
const router = useRouter()

const isUserLogged = computed<boolean>(() => !!userStore.user)
const userPicture = computed<string>(
  () => userStore.user?.profile.picture || fbUser.profile.picture
)
const userName = computed<string>(
  () => userStore.user?.profile.name || fbUser.profile.name
)

const isMenuOpen = ref<boolean>(false)

const showMenu = () => (isMenuOpen.value = true)
const hideMenu = () => (isMenuOpen.value = false)
const toggleMenu = () => (isMenuOpen.value = !isMenuOpen.value)

// Menu Item Handler
const mic = (f: Function) => {
  hideMenu()
  f()
}

const menuItems = [
  {
    label: 'Ver perfil',
    handler: () => router.push({ name: 'Profile' })
  },
  {
    label: 'Reservar turno',
    handler: () => router.push({ name: 'Reservation' })
  },
  {
    label: 'Cerrar sesión',
    handler: () => ({})
  }
]
</script>
