<template>
  <div
    class="flex items-center relative cursor-pointer"
    @click="toggleShowMenu">
    <!-- Header -->

    <div
      :class="`
      flex
      items-center gap-2
      transition-all opacity-80 hover:opacity-100`">
      <img :src="DefaultProfileImage" />
      <span class="text-normal-text font-medium">{{
        user?.profile.name || 'Guest'
      }}</span>
      <i class="fa-solid fa-chevron-down" />
    </div>

    <!-- Dropdown -->

    <div
      v-if="showMenu"
      :class="`
      absolute
      top-full left-1/2 -translate-x-1/2 translate-y-3
      w-36 z-10
      bg-white
      rounded-b-md overflow-hidden`"
      style="
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 8px 8px;
      ">
      <button
        v-for="i in menuItems"
        :class="`
        place-content-center
        w-full py-4
        transition-all bg-white hover:bg-normal-text hover:text-white
        border-t border-gray-spacer_light`"
        @click="i.handler">
        <span>{{ i.label }}</span>
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'

import DefaultProfileImage from '@/assets/icons/user-default-image.svg'

import { useRouter } from 'vue-router'
import { usePublicUserStore } from '@/stores/publicUser'

const userStore = usePublicUserStore()
const router = useRouter()

const props = defineProps<{
  user: User
}>()

const showMenu = ref<boolean>(false)

const menuItems = [
  {
    label: 'Ver perfil',
    handler: () => router.push({ name: 'Profile' })
  },
  {
    label: 'Cerrar sesión',
    handler: () => logout()
  }
]

const logout = async () => {
  await userStore.logout()
  router.push({ name: 'Login' })
}
const toggleShowMenu = () => (showMenu.value = !showMenu.value)
</script>

<style scoped></style>
