<template>
  <div class="bg-gray-100 h-full">
    <ViewHeader title=" Ver Turno" />
    <div class="p-8 grid gap-10">
      <div
        class="grid gap-10 items-start"
        :style="{ gridTemplateColumns: 'auto 1fr' }">
        <AppointmentBox :appointment="appointment" show-tags>
          <AppointmentSummary :appointment="appointment" />
        </AppointmentBox>
        <AppointmentDetails
          class="h-full"
          is-confirmed
          :appointment="appointment" />
      </div>
      <div class="flex justify-between text-normal-text">
        <button>Compartir</button>
        <Button label="Volver" type="secondary" @click="handleGoBack" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import ViewHeader from '../components/shared/ViewHeader.vue'
import AppointmentSummary from '../components/shared/AppointmentSummary.vue'
import AppointmentDetails from '../components/shared/AppointmentDetails.vue'
import AppointmentBox from '../components/shared/AppointmentBox.vue'
import Button from '@/components/shared/Button.vue'

import { useApiStore } from '@/stores/api'

const router = useRouter()
const route = useRoute()
const apiStore = useApiStore()

const appointment = ref<Appointment | null>(null)

const appointmentId = computed<string>(() => route.params.id as string)

const handleGoBack = () => router.push({ name: 'Home' })

onMounted(() => {
  const a = apiStore.appointments?.get(appointmentId.value)
  appointment.value = a || null
})
</script>
