<template>
  <div class="py-8 px-4 text-normal-text lg:px-14">
    <div>
      <h2 class="mb-8 font-bold text-2xl text-normal-text uppercase">
        Buscar Paciente
      </h2>
    </div>
    <div v-if="showResults" class="flex flex-col gap-6 w-full max-w-[450px]">
      <span class="text-xl font-medium">Pacientes encontrados</span>
      <div class="flex flex-col gap-4">
        <ExternalPatientCard
          v-for="ep in searchResult"
          :external-patient="ep"
          :active="selectedPatient?.id === ep.id"
          @click="handleCardClick(ep.id)" />
      </div>
      <div class="grid gap-4 justify-between md:grid-flow-col grid-flow-row">
        <Button
          label="Realizar otra búsqueda"
          type="secondary"
          @click="handleNewSearch" />
        <Button label="Asociar paciente" @click="handleAssociate" />
      </div>
    </div>
    <div v-else>
      <form class="flex flex-col gap-4" @submit.prevent="handleSubmit">
        <InputText
          label="Nombre"
          v-model="patientName"
          placeholder="Juan Perez" />
        <InputText label="DNI" v-model="dni" placeholder="00000000" />
        <InputDate
          label="Fecha de nacimiento"
          v-model="birthDate"
          placeholder="DD/MM/YYYY" />

        <div v-if="!noResults">
          <Button label="Buscar" submit />
        </div>
        <div v-else class="flex gap-4">
          <Button
            label="Volver a buscar"
            type="secondary"
            @click="handleNewSearch" />
          <Button label="Crear nuevo paciente" @click="handleCreatePatient" />
        </div>
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import Fuse from 'fuse.js'

import InputText from '@/components/form/input/InputText.vue'
import InputDate from '@/components/form/input/InputDate.vue'
import Button from '@/components/shared/Button.vue'
import ExternalPatientCard from '@/components/shared/ExternalPatientCard.vue'

import { usePublicPatientsStore } from '@/stores/publicPatients'
import { computed } from '@vue/reactivity'
import { normalizeStr } from '@/utils/helpers'
import { useRouter } from 'vue-router'
import { useToastStore } from '@/stores/toast'

const patientsStore = usePublicPatientsStore()
const toastStore = useToastStore()
const router = useRouter()

const patientName = ref<string>('')
const dni = ref<string>('')
const birthDate = ref<Date | null>(null)
const searchResult = ref<ExternalPatient[]>([])
const selectedPatient = ref<ExternalPatient>()
const noResults = ref<boolean>(false)

const showResults = computed<boolean>(() => searchResult.value.length !== 0)

const allExternalPatients = computed<ExternalPatient[]>(() =>
  Array.from(patientsStore.externalPatients?.values() || [])
)

const handleSubmit = () => {
  let filtered: ExternalPatient[] = allExternalPatients.value

  // == Filter by name

  if (patientName.value !== '') {
    const fuse = new Fuse(filtered, {
      useExtendedSearch: true,
      includeScore: true,
      keys: ['name'],
      ignoreLocation: true,
      getFn: (o, path) => {
        const normalized: any = o
        normalized.name = normalizeStr(o.name)
        return Fuse.config.getFn(normalized, path)
      }
    })

    const searchResults = fuse.search({
      $or: [{ name: normalizeStr(patientName.value) }]
    })

    filtered = searchResults
      .map((f) => ((f.score || 0) <= 0.75 ? f.item : null))
      .filter((f) => f !== null) as ExternalPatient[]
  }

  // == Filter by DNI

  if (dni.value !== '' && filtered.length !== 0) {
    const found = filtered.find((p) => p.document === dni.value)
    filtered = !!found ? [found] : []
  }

  // == Filter by Birtdate

  if (birthDate.value !== null && filtered.length !== 0) {
    filtered = filtered.filter(
      (p) => p.birthDate.toDateString() === birthDate.value?.toDateString()
    )
  }

  searchResult.value = filtered

  if (filtered.length === 1) selectedPatient.value = filtered[0]
  else if (filtered.length === 0) {
    toastStore.push('no-patients-found')
    toastStore.show()
    noResults.value = true
  }
}

const handleCardClick = (id: string) =>
  (selectedPatient.value = searchResult.value.find((ep) => ep.id === id))

const handleNewSearch = () => {
  patientName.value = ''
  dni.value = ''
  birthDate.value = null
  searchResult.value = []
  noResults.value = false
}

const handleCreatePatient = () => router.push({ name: 'Create Patient' })

const handleAssociate = async () => {
  if (
    typeof selectedPatient.value === 'undefined' ||
    selectedPatient.value === null
  )
    return

  await patientsStore.associate(selectedPatient.value)
  toastStore.push('successful-patient-association')
  toastStore.show()
  router.push({ name: 'Profile' })
}
</script>
