<template>
  <div class="py-8 px-4 text-normal-text md:px-14">
    <div>
      <h2 class="mb-8 font-bold text-2xl text-normal-text uppercase">
        Crear Nuevo Paciente
      </h2>
    </div>
    <div>
      <form class="flex flex-col gap-4" @submit.prevent="handleSubmit">
        <InputText
          v-model="formState.name.value"
          label="Nombre (*)"
          placeholder="Juan Perez"
          :error="formState.name.error" />
        <InputText
          label="DNI (*)"
          v-model="formState.document.value"
          placeholder="00000000"
          :error="formState.document.error" />
        <InputDate
          label="Fecha de nacimiento (*)"
          v-model="formState.birthDate.value"
          placeholder="DD/MM/YYYY"
          :error="formState.birthDate.error" />
        <GeneralDropdown
          v-model="insuranceId"
          title="Cobertura"
          :options="insuranceOptions" />

        <Button label="Crear paciente" submit />
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref, computed, watch } from 'vue'

import InputText from '@/components/form/input/InputText.vue'
import InputDate from '@/components/form/input/InputDate.vue'
import GeneralDropdown from '../components/form/GeneralDropdown.vue'
import Button from '@/components/shared/Button.vue'

import { collect } from '@/utils/helpers'
import { useApiStore } from '@/stores/api'
import { usePublicPatientsStore } from '@/stores/publicPatients'
import { useRouter } from 'vue-router'

export interface FormState {
  name: Util.Field<string>
  document: Util.Field<string>
  birthDate: Util.Field<Date | null>
  insurance: Util.Field<Insurance | null>
}

const apiStore = useApiStore()
const patientStore = usePublicPatientsStore()
const router = useRouter()

const insuranceId = ref<string>('')
watch(
  insuranceId,
  (id) => (formState.insurance.value = apiStore.insurances?.get(id) || null)
)

const formState = reactive<FormState>({
  name: {
    value: '',
    error: ''
  },
  document: {
    value: '',
    error: ''
  },
  birthDate: {
    value: null,
    error: ''
  },
  insurance: {
    value: null,
    error: ''
  }
})

const insuranceOptions = computed<Util.IdentifiedValue[]>(() =>
  collect(apiStore.insurances).map((i) => ({
    id: i.id,
    value: i.name
  }))
)

const handleSubmit = async () => {
  let errors: boolean = false

  const required = ['name', 'document', 'birthDate']
  const state = formState as any
  for (const k of required) {
    if (state[k].value === '' || state[k].value === null) {
      state[k].error = 'Este campo es obligatorio'
      errors = true
    }
  }

  if (errors) return

  await patientStore.create({
    name: formState.name.value,
    document: formState.document.value,
    birthDate: formState.birthDate.value ?? new Date(),
    insurance: formState.insurance.value
  })

  router.push({ name: 'Profile' })
}
</script>
