<template>
  <div class="grid min-h-full bg-gray-100 items-start content-start">
    <ViewHeader
      button-label="Nuevo turno"
      :button-handler="handleHeaderButton"
      title="Turnera Artro" />
    <main
      :class="`
      grid
      grid-cols-1 900px:grid-cols-2 xl:grid-cols-3 3xl:grid-cols-4
      justify-items-center gap-y-8
      p-8 w-full`">
      <AppointmentBox
        v-for="a in allAppointments"
        show-tags
        show-bottom
        :appointment="a">
        <AppointmentSummary :appointment="a" />
      </AppointmentBox>
    </main>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useRouter } from 'vue-router'

import AppointmentBox from '@/components/shared/AppointmentBox.vue'
import AppointmentSummary from '../components/shared/AppointmentSummary.vue'
import ViewHeader from '@/components/shared/ViewHeader.vue'

import { useApiStore } from '@/stores/api'

const apiStore = useApiStore()
const router = useRouter()

const allAppointments = computed<Appointment[]>(() =>
  Array.from(apiStore.appointments?.values() || [])
)

const handleHeaderButton = () => router.push({ name: 'Reservation' })
</script>
