<template>
  <div>
    <h1>HOME PAGE</h1>
    <h1>HOME PAGE</h1>
    <h1>HOME PAGE</h1>
    <button class="text-black bg-gray-300" @click="logout">LOGOUT</button>
  </div>
</template>

<script setup lang="ts">
import { usePublicUserStore } from '../stores/publicUser'

const userStore = usePublicUserStore()

const logout = () => {
  userStore.logout()
}
</script>

<style>
/* @media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
} */
</style>
