<template>
  <div
    class="absolute top-0 left-0 w-screen h-screen grid items-center justify-center">
    <div
      class="text-normal-text flex flex-col justify-center text-center gap-2">
      <i class="fa-solid fa-spinner fa-spin" />
      <span>Cargando...</span>
    </div>
  </div>
</template>
