<template>
  <div
    :class="`
    flex flex-col lg:flex-row
    justify-around lg:justify-between
    h-full px-4 py-8 lg:px-36 lg:pt-16
    text-normal-text`">
    <div class="flex flex-col max-w-[400px] gap-4 lg:gap-6">
      <img class="w-48 lg:w-64" :src="ArtroTag" />
      <span
        :class="`
        text-2xl lg:text-6xl
        font-semibold
        uppercase leading-none`">
        Ingresá a tu turnera
      </span>
      <span class="text-md lg:text-xl">
        Iniciá sesión o registrate para reservar un turno
      </span>
    </div>
    <Login />
  </div>
</template>

<script setup lang="ts">
import Login from '@/components/auth/Login.vue'
import ArtroTag from '@/assets/icons/traumatologia-deporte-title.svg'
</script>
