<template>
  <div class="bg-gray-100">
    <ViewHeader title="Perfil" />
    <div class="p-8 text-normal-text flex flex-col gap-10">
      <div
        class="flex flex-col gap-2 w-full bg-white rounded-md border p-4 text-normal-text">
        <h3 class="font-medium">{{ user?.profile.name }}</h3>
        <div
          class="grid gap-4 grid-flow-row md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5">
          <div
            class="flex flex-col text-sm font-medium"
            v-for="g in infoGroups">
            <span class="text-gray-400">{{ g.label }}</span>
            <span>{{ g.value }}</span>
          </div>
        </div>
        <div class="w-full flex justify-end">
          <button class="text-sm opacity-80 hover:opacity-100 transition-all">
            Modificar datos
          </button>
        </div>
      </div>
      <div class="w-full flex flex-col gap-4">
        <strong class="uppercase text-xl block">Pacientes Asociados</strong>
        <div
          class="grid gap-10 grid-cols-1 w-full md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
          <div
            class="border bg-white p-4 rounded-md w-full flex flex-col gap-4"
            v-for="p in allPatients">
            <span>{{ p.name }}</span>
            <div class="flex flex-col gap-2">
              <div
                class="flex flex-col text-sm font-medium"
                v-for="g in getPatientInfoGroups(p)">
                <span class="text-gray-400">{{ g.label }}</span>
                <span>{{ g.value }}</span>
              </div>
            </div>
            <div class="w-full flex justify-end">
              <button
                class="text-sm opacity-80 hover:opacity-100 transition-all">
                Modificar datos
              </button>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-4 justify-end sm:flex-row">
          <Button
            label="Crear nuevo paciente"
            type="secondary"
            @click="handleCreatePatient" />
          <Button
            label="Asociar paciente"
            type="primary"
            @click="handleAssociatePatient" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'

import ViewHeader from '@/components/shared/ViewHeader.vue'
import Button from '@/components/shared/Button.vue'

import { usePublicPatientsStore } from '@/stores/publicPatients'
import { usePublicUserStore } from '@/stores/publicUser'

import { dateToSlashString } from '@/utils/dates'
import { user as fbUser } from '@/utils/fallback'
import { useRouter } from 'vue-router'

const patientsStore = usePublicPatientsStore()
const userStore = usePublicUserStore()
const router = useRouter()

const allPatients = computed<Patient[]>(() =>
  Array.from(patientsStore.patients?.values() || [])
)

const user = computed<User | undefined>(() => userStore.user)

const infoGroups = computed<Util.InfoGroup[]>(() => {
  return [
    {
      label: 'Mail',
      value: user.value?.email || fbUser.email
    },
    {
      label: 'Contraseña',
      value: '**********'
    },
    {
      label: 'Cobertura',
      value:
        user.value?.patient.insurance?.name ||
        fbUser.patient.insurance?.name ||
        ''
    },
    {
      label: 'DNI',
      value: user.value?.patient.document || fbUser.patient.document
    }
  ]
})

const getPatientInfoGroups = (p: Patient) => {
  return [
    {
      label: 'Cobertura',
      value: p.insurance?.name || 'No aplica'
    },
    {
      label: 'DNI',
      value: p.document
    },
    {
      label: 'Fecha de nacimiento',
      value: dateToSlashString(p.birthDate)
    },
    {
      label: 'Número de afiliado',
      value: p.affiliateNumber
    }
  ]
}

const handleAssociatePatient = () => router.push({ name: 'Associate Patient' })
const handleCreatePatient = () => router.push({ name: 'Create Patient' })
</script>
