<template>
  <div
    :class="`
    flex flex-col lg:flex-row
    justify-around lg:justify-between
    h-full px-4 py-8 lg:px-36 lg:pt-16
    text-normal-text`">
    <div class="flex flex-col max-w-[500px] gap-4 lg:gap-6">
      <img class="w-48 lg:w-64" :src="ArtroTag" />
      <span
        :class="`
        text-2xl lg:text-6xl
        font-semibold
        uppercase leading-none`">
        Registrate para reservar un turno
      </span>
      <span class="text-md lg:text-xl">Completá todos tus datos para ...</span>
    </div>
    <Register />
  </div>
</template>

<script setup lang="ts">
import Register from '@/components/auth/Register.vue'
import ArtroTag from '@/assets/icons/traumatologia-deporte-title.svg'
</script>
