<template>
  <div class="hidden xl:grid w-full min-h-full items-center">
    <Stepper
      :step-order="stepOrder"
      v-model:current-step-id="currentStep"
      :enable-next="enableNext"
      :next-label="nextLabel"
      @finish="handleFinishStepper">
      <template #cards="{ currentStepId }">
        <Card
          step-id="choose-patient"
          :current-step-id="currentStepId"
          title="Elegir paciente"
          locked>
          <Selector
            :options="patientOptions"
            v-model="currentPatientId"
            @add="handleAddPatient" />
        </Card>
        <Card
          step-id="reservation"
          :current-step-id="currentStepId"
          title="Turno"
          show-modify
          @goto-step="handleGotoStep">
          <FieldsPreview :fields="fieldsPreview" />
        </Card>
        <Card
          step-id="confirmation"
          :current-step-id="currentStepId"
          title="Verificar datos">
          <Timer
            @finish="handleFinishTimer"
            :seconds="300"
            v-if="currentStepId === 'confirmation'" />
        </Card>
      </template>
      <template #views="{ currentStepId }">
        <ReservationStep
          step-id="reservation"
          :current-step-id="currentStepId" />
        <ConfirmationStep
          step-id="confirmation"
          :current-step-id="currentStepId" />
      </template>
    </Stepper>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue'
import { useRouter } from 'vue-router'
import Stepper from '@/components/stepper/Stepper.vue'

import Card from '@/components/stepper/card/Card.vue'
import Selector from '@/components/stepper/card/views/Selector.vue'
import FieldsPreview from '@/components/stepper/card/views/FieldsPreview.vue'
import Timer from '@/components/stepper/card/views/Timer.vue'

import ReservationStep from '@/components/reservation/Reservation.vue'
import ConfirmationStep from '@/components/reservation/Confirmation.vue'

import { useAppointmentStore } from '@/stores/appointment'
import { usePublicPatientsStore } from '@/stores/publicPatients'
import { useToastStore } from '@/stores/toast'

const toastStore = useToastStore()
const appointmentStore = useAppointmentStore()
const publicPatientsStore = usePublicPatientsStore()
const router = useRouter()

const stepOrder = ['reservation', 'confirmation']

const currentStep = ref<string>(stepOrder[0])
const currentPatientId = ref<string>(
  appointmentStore.currentAppointment.patient?.id || ''
)

const handleGotoStep = (s: string) => {
  currentStep.value = s
}

const handleAddPatient = () => {
  router.push({ name: 'Associate Patient' })
}

const allPatients = computed<Patient[]>(() =>
  Array.from(publicPatientsStore.patients?.values() || [])
)

const patientOptions = computed<Util.IdentifiedValue[]>(() =>
  allPatients.value.map((p) => ({ id: p.id, value: p.name }))
)

const enableNext = computed<boolean>(
  () =>
    (currentStep.value === 'reservation' && appointmentStore.isComplete) ||
    currentStep.value === 'confirmation'
)

const nextLabel = computed<string | undefined>(() =>
  currentStep.value === 'confirmation' ? 'Confirmar' : undefined
)

const fieldsPreview = computed<Util.InfoGroup[]>(() => [
  {
    label: 'Especialidad',
    value: appointmentStore.currentAppointment.subservice?.name || ''
  },
  {
    label: 'Sede',
    value: appointmentStore.currentAppointment.location?.name || ''
  },
  {
    label: 'Día',
    value: formattedDate.value || ''
  },
  {
    label: 'Horario',
    value: formattedTime.value || ''
  },
  {
    label: 'Profesional',
    value: appointmentStore.currentAppointment.professional?.name || ''
  }
])

const formattedDate = computed<string>(() => {
  const d = appointmentStore.currentAppointment.date
  if (d === null) return ''

  const day = String(d.day).padStart(2, '0')
  const month = String(d.month).padStart(2, '0')

  return `${day}/${month}/${d.year}`
})

const formattedTime = computed<string>(() => {
  const t = appointmentStore.currentAppointment.time
  if (t === null) return ''

  const hours = String(t.hours).padStart(2, '0')
  const minutes = String(t.minutes).padStart(2, '0')

  return `${hours}:${minutes}`
})

const handleFinishStepper = () => {
  appointmentStore.confirmCurrentAppointment()
  toastStore.push('reservation-success')
  toastStore.show()
  router.push({ name: 'Home' })
}

const handleFinishTimer = () => {
  appointmentStore.clear()
  toastStore.push('reservation-expired')
  toastStore.show()
  router.push({ name: 'Home' })
}

watch(currentPatientId, async (id, oldId) => {
  if (oldId !== '') await appointmentStore.clear()
  appointmentStore.currentAppointment.patient =
    publicPatientsStore.patients?.get(id) || null
})
</script>
