<template>
  <div class="grid m-auto py-8 px-4 sm:px-24 w-full max-w-[100rem]">
    <ReservationDesktop class="hidden xl:grid" />
    <ReservationMobile class="grid xl:hidden" />
  </div>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue'
import { useRouter } from 'vue-router'

import ReservationMobile from './ReservationMobile.vue'
import ReservationDesktop from './ReservationDesktop.vue'

import { compareSimpleDates, compareSimpleTimes } from '@/utils/helpers'

import { useAppointmentStore } from '@/stores/appointment'
import { useToastStore } from '@/stores/toast'

const appointmentStore = useAppointmentStore()
const toastStore = useToastStore()
const router = useRouter()

// == when location changes, reset time and date
watch(
  () => appointmentStore.currentAppointment.location,
  (t) => {
    if (
      appointmentStore.currentAppointment.subservice === null &&
      appointmentStore.currentAppointment.professional === null
    ) {
      toastStore.push('only-location-selected')
      toastStore.show()
      return
    }

    appointmentStore.currentAppointment.date = null
    appointmentStore.currentAppointment.time = null
  }
)

// == when date changes, reset
watch(
  () => appointmentStore.currentAppointment.date,
  () => (appointmentStore.currentAppointment.time = null)
)

// == when professional changes, reset date if necessary
watch(
  () => appointmentStore.currentAppointment.professional,
  (p) => {
    if (p === null) return (appointmentStore.currentAppointment.date = null)

    let resetDate = false

    // == check if selected date is in professional

    const date = appointmentStore.currentAppointment.date
    const time = appointmentStore.currentAppointment.time

    if (date !== null) {
      resetDate = !p.availableDates.some((ad) => {
        const comp = compareSimpleDates(ad.date, date)
        if (!comp || time === null) return comp
        return ad.times.some((t) => compareSimpleTimes(t, time))
      })
    }

    if (resetDate) appointmentStore.currentAppointment.date = null
  }
)
</script>
