<template>
  <div class="grid h-full w-full items-center">
    <Stepper
      :step-order="stepOrder"
      v-model:current-step-id="currentStep"
      :enable-next="enableNext"
      :next-label="nextLabel"
      @finish="handleFinishStepper">
      <template #cards="{ currentStepId }">
        <Card
          title="Paciente"
          reduced
          locked
          step-id="choose-patient"
          current-step-id=""
          v-if="currentStep === 'step-one'">
          <Selector
            :options="patientOptions"
            v-model="currentPatientId"
            reduced
            @add="handleAddPatient" />
        </Card>
        <Card
          title="Verificar"
          reduced
          locked
          step-id="confirmation"
          v-if="currentStep === 'confirmation'"
          :current-step-id="currentStepId">
          <Timer :seconds="300" @finish="handleFinishTimer" />
        </Card>
      </template>
      <template #views="{ currentStepId }">
        <One step-id="step-one" :current-step-id="currentStepId" />
        <Two step-id="calendar" :current-step-id="currentStepId" />
        <Confirmation
          reduced
          step-id="confirmation"
          :current-step-id="currentStepId" />
      </template>
    </Stepper>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue'

import Stepper from '@/components/stepper/Stepper.vue'
import Card from '@/components/stepper/card/Card.vue'
import Selector from '@/components/stepper/card/views/Selector.vue'
import Timer from '@/components/stepper/card/views/Timer.vue'

import One from '@/components/reservation/mobile/One.vue'
import Two from '@/components/reservation/mobile/Two.vue'
import Confirmation from '@/components/reservation/Confirmation.vue'

import { usePublicPatientsStore } from '@/stores/publicPatients'
import { useAppointmentStore } from '@/stores/appointment'
import { useRouter } from 'vue-router'
import { useToastStore } from '@/stores/toast'

const router = useRouter()
const patientsStore = usePublicPatientsStore()
const appointmentStore = useAppointmentStore()
const toastStore = useToastStore()

const stepOrder = ['step-one', 'calendar', 'confirmation']

const currentPatientId = ref<string>('')
const currentStep = ref<string>(stepOrder[0])

const allPatients = computed<Patient[]>(() =>
  Array.from(patientsStore.patients?.values() || [])
)

const patientOptions = computed<Util.IdentifiedValue[]>(() =>
  allPatients.value.map((p) => ({ id: p.id, value: p.name }))
)

const handleAddPatient = () => router.push({ name: 'Associate Patient' })

const handleFinishStepper = () => {
  appointmentStore.confirmCurrentAppointment()
  toastStore.push('reservation-success')
  toastStore.show()
  router.push({ name: 'Home' })
}

const handleFinishTimer = () => {
  appointmentStore.clear()
  toastStore.push('reservation-expired')
  toastStore.show()
  router.push({ name: 'Home' })
}

const nextLabel = computed<string>(() =>
  currentStep.value === 'confirmation' ? 'Confirmar' : ''
)
const enableNext = computed<boolean>(
  () =>
    (currentStep.value === 'step-one' &&
      appointmentStore.currentAppointment.patient !== null &&
      (appointmentStore.currentAppointment.subservice !== null ||
        appointmentStore.currentAppointment.professional !== null)) ||
    (currentStep.value === 'calendar' &&
      appointmentStore.currentAppointment.date !== null &&
      appointmentStore.currentAppointment.time !== null &&
      appointmentStore.currentAppointment.professional !== null) ||
    currentStep.value === 'confirmation'
)

watch(currentPatientId, async (id, oldId) => {
  if (oldId !== '') await appointmentStore.clear()
  appointmentStore.currentAppointment.patient =
    patientsStore.patients?.get(id) || null
})
</script>
