<template>
  <ViewWrapper
    :step-id="stepId"
    :current-step-id="currentStepId"
    :class="{ 'justify-items-center': reduced }"
    class="grid gap-10 py-10">
    <strong v-if="!reduced" class="text-2xl uppercase text-normal-text"
      >VERIFICAR DATOS</strong
    >
    <div
      class="grid gap-10"
      :class="{ 'grid-flow-row': reduced }"
      :style="{ gridTemplateColumns: !reduced ? 'auto 1fr' : 'auto' }">
      <AppointmentBox :appointment="appointmentStore.currentAppointment">
        <AppointmentSummary
          :reduced="reduced"
          :appointment="appointmentStore.currentAppointment" />
      </AppointmentBox>
      <AppointmentDetails
        :reduced="reduced"
        :appointment="appointmentStore.currentAppointment" />
    </div>
  </ViewWrapper>
</template>

<script setup lang="ts">
import ViewWrapper from '@/components/stepper/ViewWrapper.vue'

import AppointmentSummary from '@/components/shared/AppointmentSummary.vue'
import AppointmentDetails from '../shared/AppointmentDetails.vue'

import { useAppointmentStore } from '@/stores/appointment'
import AppointmentBox from '../shared/AppointmentBox.vue'

const appointmentStore = useAppointmentStore()

defineProps<{
  stepId: string
  currentStepId: string
  reduced?: boolean
}>()
</script>

<style scoped></style>
