<template>
  <ViewWrapper
    :step-id="stepId"
    :current-step-id="currentStepId"
    class="grid gap-10 py-10">
    <strong class="text-2xl uppercase text-gray-600">Elegir turno</strong>
    <div
      class="grid gap-10 grid-flow-col justify-start items-start"
      :style="{ gridTemplateColumns: 'auto auto 1fr' }">
      <div class="grid content-center gap-5">
        <InputLocation v-model="appointmentStore.currentAppointment.location" />
        <InputSubservices
          v-model="appointmentStore.currentAppointment.subservice" />
        <InputProfessionals
          active-appointment
          v-model="appointmentStore.currentAppointment.professional" />
      </div>
      <div v-show="showCalendar">
        <span class="block mb-2 text-normal-text font-medium"
          >Días disponibles</span
        >
        <Calendar
          :available-dates="availableSimpleDates"
          v-model="appointmentStore.currentAppointment.date" />
      </div>
      <div
        v-show="showHoursList"
        class="grid h-full items-start content-start gap-2"
        :style="{ gridTemplateRows: 'auto auto 1fr' }">
        <span class="block text-normal-text font-medium">{{
          hourGridTitle
        }}</span>
        <HoursListGrid
          v-if="listsOptions.length !== 0"
          :lists="listsOptions"
          v-model="hourGridSelectedSlot"
          @update="handleTimeChange" />
        <div v-if="showProfessionalsList" class="text-normal-text font-medium">
          <span class="block mb-2">Profesionales disponibles</span>
          <div
            class="border rounded-md p-2 overflow-scroll h-64 w-80 gap-2 grid items-start">
            <FilterProfessionals #default="professionals">
              <DropdownItem
                v-for="p in professionals"
                :click-id="p.id"
                @click="handleProfessionalItemClick">
                <ProfessionalCard :professional="p" />
              </DropdownItem>
            </FilterProfessionals>
          </div>
        </div>
      </div>
    </div>
  </ViewWrapper>
</template>

<script setup lang="ts">
import { watch, computed, ref } from 'vue'

import ViewWrapper from '../stepper/ViewWrapper.vue'

import InputSubservices from '@/components/form/InputSubservices.vue'
import InputProfessionals from '@/components/form/InputProfessionals.vue'
import InputLocation from '@/components/form/InputLocation.vue'

import Calendar from '../shared/Calendar.vue'
import HoursListGrid, {
  type ListOptions,
  type ListSlot
} from '../shared/HoursListGrid.vue'

import { useAppointmentStore } from '@/stores/appointment'
import { useApiStore } from '@/stores/api'
import { compareSimpleDates, compareSimpleTimes } from '@/utils/helpers'
import { useToastStore } from '@/stores/toast'
import DropdownItem from '../form/dropdown/DropdownItem.vue'
import ProfessionalCard from '../form/dropdown/cards/ProfessionalCard.vue'
import FilterProfessionals from '../appointment/FilterProfessionals.vue'

const appointmentStore = useAppointmentStore()
const apiStore = useApiStore()
const toastStore = useToastStore()

const props = defineProps<{
  stepId: string
  currentStepId: string
}>()

const hourGridSelectedSlot = ref<ListSlot | null>(
  appointmentStore.currentAppointment.time !== null
    ? {
        listId: appointmentStore.currentAppointment.location?.id || '',
        time: appointmentStore.currentAppointment.time
      }
    : null
)

const availableDates = computed<AvailableDate[]>(() => {
  const { professional, subservice, location } =
    appointmentStore.currentAppointment

  let available: AvailableDate[] = []

  // == Get available dates from professional
  //    or from all professionals

  if (professional !== null) {
    available = professional.availableDates
  } else if (subservice !== null) {
    const allProfessionals = Array.from(apiStore.professionals?.values() || [])

    const filteredDates: AvailableDate[] = []

    for (const pr of allProfessionals)
      for (const d of pr.availableDates)
        if (d.subservice.id === subservice.id) filteredDates.push(d)

    available = filteredDates
  }

  // == Apply subservice and location filters

  const filtered: AvailableDate[] = []

  for (const d of available) {
    if (subservice !== null && d.subservice.id !== subservice.id) continue

    if (location !== null && d.location.id !== location.id) continue

    filtered.push(d)
  }

  return filtered
})

const handleTimeChange = (s: ListSlot | null) => {
  const { location, date } = appointmentStore.currentAppointment

  if (s === null) return (appointmentStore.currentAppointment.time = null)

  if (location?.id !== s.listId) {
    const currentDate = date

    appointmentStore.currentAppointment.location =
      apiStore.locations?.get(s.listId) || null
    appointmentStore.currentAppointment.date = currentDate
  }

  appointmentStore.currentAppointment.time = s.time
}

const handleProfessionalItemClick = (id: string) => {
  const p = apiStore.professionals?.get(id)
  appointmentStore.currentAppointment.professional = p || null
}

const showCalendar = computed<boolean>(
  () =>
    appointmentStore.currentAppointment.professional !== null ||
    appointmentStore.currentAppointment.subservice !== null
)

const showHoursList = computed<boolean>(
  () => appointmentStore.currentAppointment.date !== null
)

const showProfessionalsList = computed<boolean>(
  () =>
    showHoursList.value &&
    appointmentStore.currentAppointment.time !== null &&
    appointmentStore.currentAppointment.professional === null
)

const hourGridTitle = computed<string>(() => {
  if (hourGridSelectedSlot.value !== null) return 'Horario elegido'

  return listsOptions.value.length !== 0
    ? 'Horarios disponibles'
    : 'No hay horarios disponibles'
})

const availableSimpleDates = computed<Util.SimpleDate[]>(() =>
  availableDates.value.map((d) => d.date)
)

const activeTimes = computed<AvailableDate[] | null>(() => {
  if (appointmentStore.currentAppointment.date === null) return null

  return availableDates.value.filter((d) =>
    compareSimpleDates(
      d.date,
      appointmentStore.currentAppointment.date || undefined
    )
  )
})

const listsOptions = computed<ListOptions[]>(() => {
  let lists: ListOptions[] = []

  for (const ad of activeTimes.value ?? []) {
    if (!lists.some((l) => l.id === ad.location.id))
      lists.push({ id: ad.location.id, times: [], title: ad.location.name })

    lists = lists.map((lt) => {
      if (lt.id !== ad.location.id) return lt

      const times = lt.times
      times.push(...ad.times)
      return { ...lt, times }
    })
  }

  return lists
})

watch(hourGridSelectedSlot, (s) => {
  if (s === null) {
    appointmentStore.currentAppointment.time = null
    return
  }

  appointmentStore.currentAppointment.time = s.time

  if (appointmentStore.currentAppointment.location?.id !== s?.listId)
    appointmentStore.currentAppointment.location =
      apiStore.locations?.get(s?.listId || '') || null
})
</script>
