<template>
  <div class="flex flex-col gap-1 w-full max-w-[18rem]">
    <span class="font-medium text-normal-text">{{ label }}</span>
    <div
      class="flex border rounded-lg full p-3 items-center gap-2"
      :class="{
        'border-red-error': error,
        'border-gray-title': isFocused && !error,
        'border-gray-card-subtitle-active': !isFocused && !error
      }">
      <slot name="input" v-bind="{ handleFocus, handleBlur }" />
    </div>
    <span v-if="error" class="text-sm text-red-error self-end mt-1">{{
      error
    }}</span>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'

const isFocused = ref<boolean>(false)

const props = defineProps<{
  label: string
  error?: string
}>()

const handleFocus = () => (isFocused.value = true)
const handleBlur = () => (isFocused.value = false)
</script>
