<template>
  <BaseInput :label="label" :error="error">
    <template #input="{ handleFocus, handleBlur }">
      <input
        class="focus:outline-none w-full h-full font-inter text-sm"
        :type="showPassword ? 'text' : 'password'"
        :placeholder="placeholder"
        v-model="value"
        @focus="handleFocus"
        @blur="handleBlur" />
      <button
        class="text-normal-text opacity-80 hover:opacity-100 transition-all"
        @click="toggleShowPassword">
        <i v-if="showPassword" class="fa-regular fa-eye" />
        <i v-else class="fa-regular fa-eye-slash" />
      </button>
    </template>
  </BaseInput>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'

import BaseInput from './BaseInput.vue'

const props = defineProps<{
  label: string
  modelValue: string
  placeholder?: string
  error?: string
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', v: string): void
}>()

const value = ref<string>(props.modelValue)
watch(value, (v) => emit('update:modelValue', v))
watch(
  () => props.modelValue,
  (v) => (value.value = v),
  { immediate: true }
)

const showPassword = ref<boolean>(false)
const toggleShowPassword = () => (showPassword.value = !showPassword.value)
</script>
