<template>
  <BaseInput :label="label" :error="error">
    <template #input="{ handleFocus, handleBlur }">
      <input
        class="focus:outline-none w-full h-full text-sm"
        type="text"
        :placeholder="placeholder"
        v-model="value"
        @focus="handleFocus"
        @blur="handleBlur" />
    </template>
  </BaseInput>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'

import BaseInput from './BaseInput.vue'

const props = defineProps<{
  label: string
  modelValue: string
  placeholder?: string
  error?: string
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', v: string | Date): void
}>()

const value = ref<string>(props.modelValue)
watch(value, (v) => emit('update:modelValue', v))
watch(
  () => props.modelValue,
  (v) => (value.value = v),
  { immediate: true }
)
</script>
