<template>
  <BaseInput :label="label" :error="error">
    <template #input="{ handleFocus, handleBlur }">
      <input
        class="focus:outline-none w-full h-full text-sm"
        type="date"
        :placeholder="placeholder"
        v-model="value"
        @focus="handleFocus"
        @blur="handleBlur" />
    </template>
  </BaseInput>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'

import BaseInput from './BaseInput.vue'

const props = defineProps<{
  label: string
  modelValue: Date | null
  placeholder?: string
  error?: string
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', v: Date | null): void
}>()

const value = ref<string>('')
watch(value, (v) => emit('update:modelValue', v === '' ? null : new Date(v)))
watch(
  () => props.modelValue,
  (v) => (value.value = v?.toISOString().slice(0, 10) || ''),
  { immediate: true }
)
</script>
