<template>
  <div class="flex flex-col gap-2 font-inter bg-white">
    <!-- <img class="w-[22px] h-[22px]" :src="professional.service.icon" /> -->
    <header class="flex flex-row w-full items-center gap-2 text-gray-800">
      <img class="w-5 h-5" :src="professional.service.icon" />
      <span class="font-semibold text-sm capitalize">
        {{ professional.name }}
      </span>
    </header>
    <div class="flex flex-col ml-7 gap-1">
      <div v-for="r in tableContent" class="grid grid-cols-2 text-sm">
        <span class="text-gray-500">{{ r[0] }}</span>
        <span>{{ r[1] }}</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{
  professional: Professional
}>()

const tableContent = computed<string[][]>(() => {
  if (props.professional.locations[0] === null) console.log(props.professional)

  const subservices = props.professional.subservices.map((ss) => ss.name)
  const locations = props.professional.locations.map((l) => l.name)

  const lCount = locations.length
  const locationKey = lCount <= 1 ? 'Sede' : 'Sedes'
  const locationValue = lCount === 0 ? '-' : locations.join(', ')

  const ssCount = subservices.length
  const subserviceKey = ssCount <= 1 ? 'Especialidad' : 'Especialidades'
  const subserviceValue = ssCount === 0 ? '-' : subservices.join(', ')

  return [
    ['Servicio', props.professional.service.name],
    [subserviceKey, subserviceValue],
    [locationKey, locationValue]
  ]
})
</script>

<style scoped></style>
