<template>
  <div
    class="h-full w-full gap-2 grid grid-flow-col items-center font-inter bg-white"
    :style="{ gridTemplateColumns: 'auto 1fr' }">
    <ServiceTag :service="subservice.service" />
    <span
      class="text-sm font-inter overflow-hidden whitespace-nowrap overflow-ellipsis"
      >{{ subservice.name }}</span
    >
  </div>
</template>

<script setup lang="ts">
import ServiceTag from '@/components/shared/ServiceTag.vue'
import type { Subservice } from '@/utils/types'

defineProps<{
  subservice: Subservice
}>()
</script>
