<template>
  <svg
    width="20"
    height="20"
    viewBox="0 0 20 20"
    :fill="active ? activeColor : defaultColor"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M18.0382 12.7195C18.0799 12.7906 18.1071 12.8692 18.1183 12.9509C18.1295 13.0326 18.1244 13.1156 18.1033 13.1953C18.0822 13.275 18.0456 13.3497 17.9955 13.4152C17.9455 13.4807 17.883 13.5356 17.8116 13.5768C17.7402 13.618 17.6614 13.6447 17.5796 13.6554C17.4979 13.666 17.4149 13.6603 17.3353 13.6387C17.2558 13.6171 17.1813 13.58 17.1161 13.5295C17.051 13.479 16.9965 13.4161 16.9557 13.3445L15.5196 10.8571C14.6735 11.4237 13.7431 11.8529 12.7628 12.1288L13.2169 14.7042C13.2457 14.8674 13.2084 15.0354 13.1133 15.1712C13.0182 15.307 12.8731 15.3994 12.7099 15.4282C12.6738 15.4345 12.6372 15.4377 12.6006 15.4378C12.4538 15.4375 12.3118 15.3857 12.1994 15.2913C12.087 15.1969 12.0114 15.0659 11.9858 14.9214L11.5391 12.3879C10.5162 12.5373 9.47698 12.537 8.45418 12.3868L8.00746 14.9202C7.98196 15.0648 7.90639 15.1958 7.79398 15.2902C7.68158 15.3847 7.53952 15.4366 7.39269 15.4368C7.35608 15.4368 7.31954 15.4336 7.28348 15.4273C7.12023 15.3985 6.9751 15.306 6.88001 15.1703C6.78493 15.0345 6.74767 14.8665 6.77644 14.7032L7.23066 12.1268C6.25154 11.8505 5.32223 11.4212 4.47715 10.8548L3.03262 13.3568C2.99214 13.429 2.93774 13.4924 2.87258 13.5433C2.80741 13.5943 2.73278 13.6318 2.65301 13.6537C2.57323 13.6756 2.4899 13.6814 2.40785 13.6709C2.3258 13.6603 2.24667 13.6336 2.17503 13.5923C2.10338 13.5509 2.04067 13.4957 1.99051 13.4299C1.94036 13.3641 1.90377 13.289 1.88285 13.209C1.86194 13.129 1.85712 13.0456 1.86868 12.9637C1.88024 12.8817 1.90795 12.8029 1.95019 12.7318L3.4734 10.0935C2.94212 9.63631 2.4536 9.13165 2.01387 8.5858C1.96157 8.52204 1.92241 8.44856 1.89864 8.36959C1.87487 8.29062 1.86696 8.20773 1.87538 8.12569C1.88379 8.04366 1.90835 7.9641 1.94766 7.8916C1.98696 7.8191 2.04022 7.75509 2.10437 7.70327C2.16852 7.65145 2.24229 7.61283 2.32144 7.58965C2.40058 7.56647 2.48353 7.55918 2.5655 7.56821C2.64747 7.57723 2.72685 7.60238 2.79905 7.64222C2.87126 7.68206 2.93487 7.7358 2.98621 7.80034C3.47427 8.40767 4.03126 8.95622 4.64598 9.43495C4.6509 9.43838 4.65535 9.44229 4.66012 9.44588C6.1855 10.6326 8.06754 11.2684 10.0001 11.2497C11.9322 11.2683 13.8138 10.6329 15.3389 9.44666C15.3431 9.44354 15.3469 9.44034 15.3511 9.43729C15.967 8.95801 16.5251 8.40866 17.0139 7.80034C17.1186 7.67279 17.2693 7.59178 17.4334 7.57495C17.5975 7.55812 17.7616 7.60685 17.8899 7.7105C18.0183 7.81416 18.1004 7.96434 18.1184 8.1283C18.1365 8.29227 18.089 8.45672 17.9863 8.5858C17.5457 9.1327 17.0561 9.63826 16.5236 10.0962L18.0382 12.7195Z"
      :fill="active ? activeColor : defaultColor" />
  </svg>
</template>

<script setup lang="ts">
const props = withDefaults(
  defineProps<{
    active: boolean
    defaultColor?: string
    activeColor?: string
  }>(),
  {
    defaultColor: '#ABA7AF',
    activeColor: '#000000',
    active: false
  }
)
</script>
