<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { RouterView, useRoute, useRouter } from 'vue-router'

import Footer from './components/layout/Footer.vue'
import Header from './components/layout/Header.vue'
import Toast from './components/shared/Toast.vue'
import Loading from './views/Loading.vue'

import { usePublicUserStore } from './stores/publicUser'
import { usePublicPatientsStore } from './stores/publicPatients'
import { useApiStore } from './stores/api'
import { useToastStore } from './stores/toast'

const userStore = usePublicUserStore()
const patientsStore = usePublicPatientsStore()
const apiStore = useApiStore()
const toastStore = useToastStore()

const router = useRouter()
const route = useRoute()

const publicRoutes = ['Login', 'Register', 'Invite', 'Reservation']

const loading = ref<boolean>(true)

const initialization = async () => {
  loading.value = true

  toastStore.init()

  await apiStore.init()
  await patientsStore.init()

  await userStore.init({
    publicRoutes,
    todoEstaBienCallback: () => {
      console.log('todo está bien')
    },
    unauthenticatedCallback: () => {
      publicRoutes.find((el) => el === route.name) === undefined
        ? router.replace({ name: 'Login' })
        : ''
    },
    loggedInCallback: async () => {},
    loggedOutCallback: () => {
      router.replace({ name: 'Login' })
    },
    invalidCallback: () => {
      router.replace({ name: 'Invalid' })
    },
    redirectCallback: () => {
      console.log('redirect?')
    }
  })

  if (import.meta.env.VITE_APP_API_MOCKING) {
    await userStore.login('juan.s@pow.lat', 'juan123')
  }
}

onMounted(async () => {
  loading.value = true
  await initialization()
  loading.value = false
})
</script>

<template>
  <Loading v-if="loading" />
  <div v-else class="main-layout relative">
    <Header class="z-30" />
    <div class="overflow-scroll">
      <RouterView />
    </div>
    <Footer />
    <Toast />
  </div>
</template>

<style>
* {
  font-family: 'Inter', sans-serif;
}
.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
</style>
