<template>
  <div class="flex flex-col text-normal-text gap-4">
    <span class="text-2xl font-medium hidden lg:block">Iniciar sesión</span>
    <form
      :class="`
      flex flex-col
      gap-6
      w-full xs:w-80`"
      @submit.prevent="handleSubmit">
      <InputText
        label="Mail"
        v-model="formState.email.value"
        :error="formState.email.error"
        placeholder="ejemplo@ejemplo.com" />
      <div class="flex flex-col gap-2">
        <InputPassword
          v-model="formState.password.value"
          :error="formState.password.error"
          label="Contraseña"
          placeholder="Contraseña" />
        <router-link
          :to="{ name: 'Login' }"
          :class="`
          text-sm text-normal-text
          cursor-pointer
          transition-all hover:underline`">
          ¿Olvidaste tu contraseña?
        </router-link>
      </div>
      <span
        v-if="responseError !== ''"
        class="block w-72 text-sm text-red-error"
        >{{ responseError }}</span
      >
      <Button submit label="Ingresar" />
    </form>
    <span class="mt-6 text-normal-text">
      ¿Aún no tenes cuenta?
      <router-link
        :to="{ name: 'Register' }"
        class="font-semibold cursor-pointer hover:underline">
        Registrate acá
      </router-link>
    </span>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue'

import InputText from '@/components/form/input/InputText.vue'
import InputPassword from '@/components/form/input/InputPassword.vue'
import Button from '@/components/shared/Button.vue'

import { useRouter } from 'vue-router'
import { usePublicUserStore } from '@/stores/publicUser'

export interface FormState {
  email: Util.Field<string>
  password: Util.Field<string>
}

const userStore = usePublicUserStore()
const router = useRouter()

const formState = reactive<FormState>({
  email: {
    value: '',
    error: ''
  },
  password: {
    value: '',
    error: ''
  }
})

const responseError = ref<string>('')

const handleSubmit = async () => {
  let errors = false
  const required = ['email', 'password']
  const state = formState as any

  for (const k of required) {
    if (state[k].value === '') {
      state[k].error = 'Este campo es obligatorio'
      errors = true
    }
  }

  if (errors) return

  const response = await userStore.login(
    formState.email.value,
    formState.password.value
  )

  if (response === null) {
    responseError.value = 'El correo y/o contraseña ingresados son incorrectos'
    return
  }

  router.push({ name: 'Dashboard' })
}
</script>
