<template>
  <div class="flex flex-col text-normal-text gap-4">
    <span class="text-2xl font-medium hidden lg:block">Registrate</span>
    <form
      class="flex flex-col w-full gap-6 xs:w-80"
      @submit.prevent="handleSubmit">
      <InputText
        label="Mail"
        v-model="formState.email.value"
        :error="formState.email.error"
        placeholder="ejemplo@ejemplo.com" />
      <InputPassword
        v-model="formState.password.value"
        :error="formState.password.error"
        label="Contraseña"
        placeholder="Contraseña" />
      <InputText
        v-model="formState.phone.value"
        :error="formState.phone.error"
        label="Telefono (Opcional)"
        placeholder="00000000000" />
      <Button label="Crear cuenta" submit />
    </form>
  </div>
</template>

<script setup lang="ts">
import { reactive } from 'vue'

import InputText from '../form/input/InputText.vue'
import InputPassword from '../form/input/InputPassword.vue'
import Button from '../shared/Button.vue'

import { usePublicUserStore } from '@/stores/publicUser'
import { user as mockUser } from '@/utils/mock'
import router from '@/router'

export interface FormState {
  email: Util.Field<string>
  password: Util.Field<string>
  phone: Util.Field<string>
}

const userStore = usePublicUserStore()

const formState = reactive<FormState>({
  email: {
    value: '',
    error: ''
  },
  password: {
    value: '',
    error: ''
  },
  phone: {
    value: '',
    error: ''
  }
})

const handleSubmit = () => {
  let errors = false
  const required = ['email', 'password']
  const state = formState as any

  for (const k of required) {
    if (state[k].value === '') {
      state[k].error = 'Este campo es obligatorio'
      errors = true
    }
  }

  if (errors) return

  if (Settings.MOCKING) {
    userStore.user = {
      ...mockUser,
      email: formState.email.value
    }
  }

  router.push({ name: 'Dashboard' })
}
</script>
